[2018-05-21 16:55] lemire opened #1 "benchmark against sajson"
https://github.com/chadaustin/sajson

[2018-05-23 00:39] lemire opened #2 "shovel_machine should probably not forcibly go through all depths..."
The ``shovel_machine`` function has code that looks like this...

[code]

My understanding of the code is that if a level is empty (``start_loc == end_loc``), then all other levels are going to be empty. So the loop should end once this stage is reached.

(I am aware that this is not a performance issue.)

[2018-05-23 01:21] lemire opened #3 ""states" array is written to but never used"
I don't understand the purpose of the "states" array, though I am sure it was explained to me. From the code, all we have is this...

[code]

When is this used for anything?

[2018-05-23 02:37] lemire opened #4 "Why not have a "thicker tape"?"
Current code dedicates 24 bits to index the JSON document, using 8 bits to track the character.

We have 64-bit machines, why use a 32-bit tape? This would allow supporting enormous JSON documents and could even allow us to move up and down the tree instead of just down (or not).

(There might be good reasons for using a 32-bit tape... )

[2018-05-23 03:37] lemire opened #5 "Build a "normalize/stringify/minify" JSON function"
A useful task is to trim all useless spaces from a JSON document. This is intrinsically useful. There is an argument that this should not be necessary, but I think it is bogus. In many applications, you can't expect the JSON to be minified.

This could be a problem almost orthogonal to JSON parsing.

Am I correct in thinking that your previous approach to structural elements was better suited to t

[2018-05-23 04:15] lemire opened #6 "What are sane and interesting benchmarks?"
As far as research prototypes go, this could be rather limited, but if we are going to write benchmarks, we need some stable programming interface so that we can solve problems.

The Mison paper pretends to answer queries from a paper by Adabi...

[code]

I don't think they actually answer these queries. This requires an actual processing engine. I think that they do things like this...

- Find al

[2018-05-23 04:20] lemire opened #7 "Explore lazy materialization, for greater speed"
The current code validates to a point values (nulls, and so forth) but does not materialize (store) the values.

This could be done. For example, use 64-bit per value, using some kind of union where the string case is a handled as a pointer to the in-situ string that you have unescaped.

You need to have some way to map the tape to the values. Or maybe you want to write the values directly on the

[2018-05-23 23:53] lemire opened #8 "Do we want to allow the user to set limits on the maximum depth of nesting."
The JSON spec states...

De facto, the current code goes up to 256... which is perfectly reasonable (it may even be a feature).

It seems that one benchmark the Mison paper uses is to parse all (but only) the "root-level" fields. Depending on your terminology that might be level 2 or 3.

In one email, Geoff points out that stage 3 and 4 could be greatly accelerated if we limited the depth. And thi

[2018-05-28 01:55] #5 closed, assigned to lemire

[2018-05-28 01:58] lemire opened #9 "add tests for JSON minify function and write scalar equivalent"
The ``copy_without_useless_spaces`` function should be tested. This is low priority but should be done.

A dedicated scalar minifier code should be written.

[2018-05-28 01:59] lemire opened #10 "Support AVX-512"
This is currently a low priority but it seems worthwhile to ask whether AVX-512 helps, and by how much. Of course, the work should be completed on AVX2 first.

[2018-05-28 02:03] lemire opened #11 "write fast function that can check whether a document has been minified"
That seems like a nice little complementary exercise.

[2018-05-31 02:45] #4 closed, assigned to geofflangdale

[2018-05-31 02:45] lemire opened #12 "What is "white space"? and is the current approach to detect them best?"
@geofflangdale 's code seems to "define" characters to be one of '\t', '\n', '\r', ' ' from reading of the code.

One issue to contend with is that the definition of "white space" depends on the character encoding, so UTF-8 has other white space characters.

Anyhow, let us look at whether what Geoff does is optimally efficient...

The code to detect white space looks like this...

[code]

So AND,

[2018-05-31 03:28] #2 closed, assigned to geofflangdale

[2018-05-31 03:32] #3 closed, assigned to geofflangdale

[2018-05-31 03:55] #12 closed, assigned to geofflangdale

[2018-05-31 04:29] #9 closed, assigned to lemire

[2018-07-19 02:42] lemire opened #14 "ape often returns false (with many/most JSON documents)"
In ape, the following code seems to almost always return false:

[code]

[2018-07-26 00:06] #14 closed, assigned to lemire

[2018-07-28 19:25] lemire opened #15 "compare number conversion with state-of-the-art Google double conv"
[Google double-conv](https://github.com/google/double-conversion/)

[2018-08-29 02:44] lemire opened #16 "Error masks should probably not be needlessly converted to booleans"
There are many checks to see if the error masks are non-zero, and then work on booleans. I am guessing that this is not generally a problem due to branch predictions, but it seems unwarranted.

[2018-11-09 22:54] lemire opened #17 "package as a bona fide library"
Currently, the library is only usable to run benchmarks. It does not build an actual library file that can be installed and integrated into other software.

[2018-11-09 22:55] #15 closed, assigned to nobody

[2018-11-09 22:57] #1 closed, assigned to lemire

[2018-11-09 23:00] lemire opened #18 "Remove debug macros from the main code"
The current code is nasty for a naive user with lots of macros. The actual code is itself quite clean and simple, and tiny.

[2018-11-09 23:00] lemire opened #19 "Consider making this into a single-header library"
At a minimum, amalgamation should be an option.

[2018-11-09 23:03] lemire opened #20 "Port to ARM Neon"
... eventually...

[2018-11-23 18:52] lemire opened #21 "When maxdepth is exceeded, the program crashes (expectedly)"
We need to do better.

[2018-11-24 03:20] lemire opened #22 "For large files, the tapes collide"
The current tape is just one giant tape with arbitrary segments. The segments can overwrite themselves.

We can do better.

To reproduce:
[code]

Example of output:

[code]

This is scary bad. 👎

[2018-11-26 23:42] lemire opened #23 "consider fusing the string and main tapes"
The intuition behind having two separate tapes is that it keeps the main tape tight where there are many large strings. This may or may not be an important consideration.

[2018-12-01 03:05] #16 closed, assigned to nobody

[2018-12-01 03:09] #22 closed, assigned to nobody

[2018-12-01 03:09] #21 closed, assigned to nobody

[2018-12-01 03:20] #8 closed, assigned to nobody

[2018-12-01 03:22] lemire opened #25 "When dumping json, the numbers are garbagy"
Parsing numbers appear fine, but the json printing function prints garbage.

[2018-12-01 03:41] #25 closed, assigned to lemire

[2018-12-07 03:50] lemire opened #26 "significant perf regression"
Last couple of commits created a huge performance regression for some quantum reason from hell. Probably some bad code?

[2018-12-07 03:53] #26 closed, assigned to lemire

[2018-12-15 00:49] lemire opened #27 "consider cleaning out Geoff's 'personalized types'"
I am fine with `u8`, `i64` and so forth as type names, but it is hard to justify using so many typedefs when `uint8_t` and `int64_t` are perfectly go standards.

The over-reliance on `u8` as opposed to `char` is also a bit of a problem.

This is mostly a "social" problem. The code looks a bit alien. It could look more "standard".

[2018-12-15 02:52] #6 closed, assigned to geofflangdale

[2018-12-19 22:04] lemire opened #28 "Pick a software license"
I usually default on a business-friendly APL 2.

[2018-12-28 01:43] #27 closed, assigned to nobody

[2018-12-28 01:43] #18 closed, assigned to nobody

[2018-12-28 01:43] #11 closed, assigned to lemire

[2018-12-28 01:48] #28 closed, assigned to nobody

[2018-12-28 18:19] #17 closed, assigned to nobody

[2018-12-31 02:52] #19 closed, assigned to nobody

[2019-02-20 22:53] lemire opened #31 "Provide a streaming API"
Without much effort, we could support streaming processing without materializing JSON documents  objects as  in-memory tapes.

[2019-02-21 02:12] seanmiddleditch opened #32 "Replace usage of string_view by a custom string class"
From the README:

[code]

This is a misuse of `string_view`'s semantics, and runs afoul of various rules that will be flagged by static analyzers, and we don't want students seeing this and copying it without understanding that it's not recommended (`string_view` is not just a blanket replacement for `char*`!).

For the sake of the example, it'd probably be better to just use an idiomatic `std::st

[2019-02-21 02:32] lemire commented on #32
A simple std::string would come with an unnecessary and measurable performance penalty. What several other libraries do is to create their own string objects.

What I invite folks to do is propose a zero-overhead (i.e. no unnecessary copy, no reallocate) that is functionally equivalent to what we are doing right now...

https://github.com/lemire/simdjson/blob/master/src/jsonioutil.cpp

It is shoul

[2019-02-21 03:36] seanmiddleditch commented on #32
.... for the README example? I'm not proposing that simdjson itself use the `std::string` itself, I'm just saying for the README example to use it as the storage for the example input rather than abusing `string_view` the way it is. :)

If you're morally opposed to `std::string` even in the example, perhaps just use a plain `char*` variable instead of misusing `string_view` that way.

[2019-02-21 03:51] lemire commented on #32
The example has to match how one could use the code. You cannot use std::string. You also can’t use a C string.

A string_view is explicitly meant to serve as a wrapper.

If one has a better API that comes at no performance cost... that’d be great.

[2019-02-21 05:46] kylehovey opened #34 "Add clear error when AVX2 is not supported on the current arch"
I tried running the benchmarks on my machine but got an error when running the parser. I cloned the repo, ran `cmake .`, `make`, then `make test` to get this result. See screenfetch at bottom for specs of my machine.

[code]

[code]

[2019-02-21 06:05] TheLarkInn opened #35 "WebAssembly Compile Target"
Hi there! I'm very limited in my WebAssembly and C++, C knowledge, however if this was something that could be run via WebAssembly and allow JavaScript application's and processes to yield similar (even if slightly degraded results), it would be pretty rad!

I'm not sure what work would be involved, so at the least, I'd love to request this as a feature so that tools running on NodeJS, or the Web

[2019-02-21 07:50] tleydxdy opened #38 "typo in readme, should be ryzen or zen"
the architecture is called zen

[2019-02-21 07:57] shusso commented on #34
Also can reproduce the problem in OSX, interesting though building + testing the staticlib works
[code]

[2019-02-21 08:04] shusso commented on #34
after
[code]
running the pure `ctest` I get the following behaviour
[code]

and then if I run the `make test` I get the following
[code]

[2019-02-21 08:05] shusso commented on #34
after
[code]
running the pure `ctest` I get the following behaviour
[code]

and then if I run the `make test` I get the following
[code]

[2019-02-21 08:44] kokes commented on #38
Pull request submitted in #33.

[2019-02-21 10:03] geofflangdale opened #40 "Support null characters in strings"
There seem to be some strong opinions out there that NUL chars in JSON strings should be supported. This would suggest that we maintain strings by length - possibly keep offset+length on the tape? Or start each string with a length field.

[2019-02-21 12:04] Yzoni opened #43 "Add fuzz testing"
I ran AFL and it almost immediately produces a segmentation fault.

Can be reproduced by using the benchmark parse:
[code]

[id:000000,sig:11,src:000000,op:havoc,rep:128.zip](https://github.com/lemire/simdjson/files/2889127/id.000000.sig.11.src.000000.op.havoc.rep.128.zip)

[2019-02-21 12:19] parweb opened #44 "nodejs or/and webassembly binary ?"
Is it plan to export as nodejs or/and webassembly binary ?

[2019-02-21 12:56] lemire commented on #44
Yes. WebAssembly is probably out for the time being, but a native node extension is something that ought to be done.

[2019-02-21 13:01] lemire commented on #34
@kylehovey Are you sure that your processor is a recent x64 processor with support for AVX2 instruction, so Haswell or better?

My Googling reveals that your processor was released in 2012:
https://ark.intel.com/products/71460/Intel-Core-i7-3635QM-Processor-6M-Cache-up-to-3-40-GHz-

[2019-02-21 13:38] lemire commented on #43
We do not support any input: the input must be aligned and padded (as happens if you use get_corpus). However, we need to support fuzz testing.

[2019-02-21 13:39] lemire commented on #35
I doubt that WebAssembly can be used at this time since they do not yet support SIMD.

[2019-02-21 13:51] #44 closed

[2019-02-21 15:05] lemire commented on #40
This is not very difficult but requires a small change to the string tape.

[2019-02-21 15:52] seanmiddleditch commented on #32
... Of *course* you can use a `std::string` or `char*`. I mean, obviously. :|

You can construct a `string_view` from any sequence of characters no matter how they're stored. You can implicitly convert a `std::string` into a `string_view`. You can convert a `char*` into a `string_view`. You can convert a `char[N]`, `QString`, `CString`, `MyCustomString`, or `vector<char>` into a `string_view`; som

[2019-02-21 16:12] kylehovey commented on #34
Ah, my processor is pre-Haswell. I had a macbook Air before this laptop that was Haswell, but "upgraded" to a higher spec earlier macbook pro. Thank you for the clarification.

[2019-02-21 17:23] lemire commented on #32
I don’t think this code sample would work.

[2019-02-21 19:11] rspeed commented on #34
Maybe turn this into a feature request to show a clear error when AVX2 isn't supported?

[2019-02-21 19:19] kylehovey commented on #34
That's a good idea. Also, is it possible that standard `AVX` could be used in lieu of `AVX2`? Plenty of processor arches use the former.

[2019-02-21 19:20] kylehovey commented on #34
I can't tag this as a feature request, but I updated the title to indicate that it is one.

[2019-02-21 22:55] lemire commented on #38
Hopefully fixed now.

[2019-02-21 22:55] #38 closed

[2019-02-21 22:56] lemire commented on #34
I added the labels.

[2019-02-21 22:57] lemire commented on #32
I added the label "help wanted".

[2019-02-22 00:12] serv commented on #44
Say we have a working Node binding to simdjson.

In the readme, it reads:

`Performance is optimized for JSON documents spanning at least a few kilobytes up to many megabytes: the performance issues with having to parse many tiny JSON documents or one truly enormous JSON document are different.`

Does this mean that, this library would not be a suitable replacement for `JSON.parse(jsonstring)` in

[2019-02-22 00:23] revskill10 commented on #44
The issue is not resolved yet, why close then ?

[2019-02-22 00:30] lemire commented on #44
If you are parsing a single line of JSON, then it is unlikely that the time spent parsing is significant enough to warrant optimization *unless* you are parsing many, many such cases. And at that point, things like function call overhead and memory allocations are likely to dominate your running time. This is potentially interesting, but it is not something that this library was optimized for.

[2019-02-22 03:03] Edhebi opened #50 "remove the using namespace std in the header only version"
`stage1_find_marks.cpp` and `stage2_build_tape.cpp` both starts with a `using namespace std` line. which are agglomerated for the header-only version.

Since the code is not namespaced, they while be visible in the unit including them, wich can be a problem.

easy fix:
[code]

[2019-02-22 07:50] szydell opened #51 "numberparsingcheck crashes"
Hi,

'make test' on my Fedora 29 is crashing while 'numberparsingcheck'.
https://gist.github.com/szydell/c2a9c01aadced506b1bfb16445a15bd1

Kernel: 4.20.10-200.fc29.x86_64
gcc-c++: Version 8.2.1, Architecture : x86_64

$ ldd numberparsingcheck
        linux-vdso.so.1 (0x00007fff60ff7000)
        libstdc++.so.6 => /lib64/libstdc++.so.6 (0x00007ff7b42d5000)
        libm.so.6 => /lib64/libm.so.6 (0x00

[2019-02-22 07:56] StephanDollberg commented on #32
Why would that example not work? Just had a look at the repo and that example threw me off immediately.

[2019-02-22 08:12] StephanDollberg commented on #43
`" "` even crashes when using `get_corpus` as per the single header example code.

[2019-02-22 08:20] StephanDollberg commented on #32
Ah I see now, because get_corpus gives you aligned memory. In that case you should a RAII wrapper class for your corpus. Having people manually free the corpus is not very C++y.

The single header example is already missing that and leaking memory.

[2019-02-22 08:28] StephanDollberg commented on #43
Running afl for around 15 minutes finds another 10 unique crashes:
[crashes.zip](https://github.com/lemire/simdjson/files/2893010/crashes.zip)

This is all with the single header example code.

[2019-02-22 08:43] cdluminate opened #52 "[cmake] add soversion to the resulting shared library"
Adding a SOVERSION to the resulting shared object would help indicating API/ABI changes in this library. This would greatly benefit linux distribution packagers. Please consider adding the following patch to master:

[code]

[2019-02-22 09:40] honorew opened #53 "C# Version"
Hi ：Is there a version of C#？thanks.

[2019-02-22 13:37] lemire commented on #53
Not currently but given the introduction of SIMD intrinsics in .NET core 3, it is definitively a new future possibility.

https://apisof.net/catalog/System.Runtime.Intrinsics.X86.Avx2

[2019-02-22 13:39] lemire commented on #51
Thanks for the report. It seems to crash on "free".

[2019-02-22 13:41] lemire commented on #51
Any chance you could build with sanitizers...?

[code]

[2019-02-22 13:41] lemire commented on #50
Agreed.

[2019-02-22 13:42] lemire commented on #43
Great. Let us fix these issues.

[2019-02-22 13:42] lemire commented on #43
Added the 'bug' label.

[2019-02-22 13:49] honorew commented on #53
it's great.

[2019-02-22 13:50] mr700 commented on #51
On Fedora 29 (make SANITIZE=1 -j8 test)
[code]

[2019-02-22 14:00] DesWurstes commented on #53
@lemire I was going to ask the same question without a `#`. Since this software favors performance, it would be useful for C programmers if there were a C version. Would you merge if I created a pull request that 1) adds a C version or even simpler 2) separates the C++ part to a different file so that without code duplication it'd be both C and C++ compatible via preprocessor macros?

[2019-02-22 15:45] lemire commented on #53
@DesWurstes

It would be best to open the 'C' question up as a distinct issue. Can you do that?

[2019-02-22 15:45] lemire commented on #53
I am reopening this issue regarding C# since it is something we want to track.

[2019-02-22 16:22] kevyworks commented on #44
In what size of json file we can expect the benefit? if that is known I think it will use it instead? but for me, as it is working best as a compiled binary..maybe a node script that Interface it using child_process is more suitable?

[2019-02-22 18:04] szydell commented on #51
[szydell@laPtak simdjson]$ make SANITIZE=1
g++ -std=c++17  -march=native -Wall -Wextra -Wshadow -Iinclude  -Ibenchmark/linux       -g3 -O0  -fsanitize=address -fno-omit-frame-pointer -fsanitize=undefined -o parse src/jsonioutil.cpp src/jsonparser.cpp src/stage1_find_marks.cpp         src/stage2_build_tape.cpp benchmark/parse.cpp
/usr/bin/ld: cannot find /usr/lib64/libasan.so.5.0.0 inside /
collect

[2019-02-22 18:14] lemire commented on #51
@szydell

Your particular error message is not related to simdjson: the `-fsanitize=address` should work on recent compilers... you appear to have a system configuration error.

[2019-02-22 18:23] TkTech opened #55 "Better errors in the high-level interface."
The high-level interface (such as `json_parse`) only return `True` or `False`, but can fail under numerous different conditions.

As someone building on top of simdjson, I either need to hijack `stderr` when calling these methods and search the string to figure out what really went wrong, or I need to re-implement them entirely.

It would be preferable to instead return an error code, using 1 for

[2019-02-22 18:28] szydell commented on #51
Sorry. 2 libs missing.

[szydell@laPtak simdjson]$ make SANITIZE=1 -j12
g++ -std=c++17  -march=native -Wall -Wextra -Wshadow -Iinclude  -Ibenchmark/linux       -g3 -O0  -fsanitize=address -fno-omit-frame-pointer -fsanitize=undefined -o parse src/jsonioutil.cpp src/jsonparser.cpp src/stage1_find_marks.cpp         src/stage2_build_tape.cpp benchmark/parse.cpp
g++ -std=c++17  -march=native -Wall -Wex

[2019-02-22 18:29] lemire commented on #51
Please try to do a `git pull` to grab my latest commit and rerun.

[2019-02-22 18:33] szydell commented on #51
"It looks like the code is good!"

Full output here: https://gist.github.com/szydell/4982253537f404317efb0952c7afc32e

Thanks!

[2019-02-22 19:32] lemire commented on #55
This is entirely legitimate.

[2019-02-22 19:33] lemire commented on #51
I am going to close this issue. We now have drone.io CI running and so these problems should not reoccur in this manner. (Until now we did not have CI.)

[2019-02-22 19:33] #51 closed

[2019-02-22 19:41] TkTech commented on #40
Having the length of the string exposed (since it's calculated at least once in simdjson already) would be a great performance boost for pysimdjson, since the conversion from `const char *` to `unicode` can be optimized when the length is known ahead of time.

[2019-02-22 19:44] lemire commented on #40
@TkTech  Just to clarify your comments... the char* we store are already unicode (UTF8). Maybe you mean some other unicode encoding?

[2019-02-22 19:48] TkTech commented on #40
CPython (usually) does not use UTF-8 internally, but rather something closer to UTF-16. When going from simdjson to python we need to convert those UTF-8 strings into `unicode` objects that the Python interpreter understands using [PyUnicode_DecodeUTF8](https://docs.python.org/3/c-api/unicode.html#c.PyUnicode_DecodeUTF8).

When the length of the string isn't known Cython will wrap everything in `s

[2019-02-22 19:51] lemire commented on #40
Ah yes, UTF-16.

[2019-02-22 21:20] lemire opened #56 "add cmake testing to our circleci setup"
We are currently not testing using cmake with circleci...
https://github.com/lemire/simdjson/blob/master/.circleci/config.yml

[2019-02-22 21:23] lemire commented on #56
@TkTech : do you know a cheap and efficient way to do that? I know how to do it easily on travis... but not on circleci.

[2019-02-22 21:30] TkTech commented on #56
Sure, I can flesh out the circleci tests after work if you'd like a PR.

[2019-02-22 21:41] lemire commented on #56
@TkTech That'd be great.

You live in Ottawa?

[2019-02-22 21:50] TkTech commented on #56
I do indeed!

[2019-02-22 23:25] geofflangdale opened #57 "Odd warning about freeing through stringview"
`In file included from /home/geoff/git/simdjson/include/simdjson/common_defs.h:4:0,
                 from /home/geoff/git/simdjson/benchmark/parse.cpp:33:

In function ‘void aligned_free(void*)’,
    inlined from ‘int main(int, char**)’ at /home/geoff/git/simdjson/benchmark/parse.cpp:262:15:

/home/geoff/git/simdjson/include/simdjson/portability.h:123:9: warning: attempt to free a non-heap object

[2019-02-22 23:27] geofflangdale opened #58 "Code is not valgrind clean"
Just running benchmark/parse on the twitter examples results in many complaints from valgrind; mostly "Conditional jump or move depends on uninitialised value(s)" errors in the unified_machine code.

[2019-02-22 23:36] geofflangdale commented on #43
What's the path into the code being used here - i.e. which main? I can replicate ids 0,1,2 and 4 as crashers by running run benchmark/parse on these files, but the rest are simply failing out in "stage 34" (which I will fix to say "stage 2").

[2019-02-22 23:38] EgorBo commented on #53
I am trying to port it, already ported `ParsedJson+Iterator` and started `stage1` will submit a PR once I finish 🙂 sounds like a good test for the System.Runtime.Intrinsics API.

[2019-02-22 23:39] lemire commented on #53
+1

[2019-02-22 23:55] geofflangdale commented on #43
I have fixed the issue that caused ids 0/1/2/4 in 3d30fd5

Leaving issue open, but we should split off the remaining crashers as a separate issue (once I can replicate) as adding fuzzing is a legit issue in itself regardless of whether we fix these particular sets.

[2019-02-23 00:19] lemire commented on #43
Fantastic.

[2019-02-23 00:20] tannergooding commented on #53
I'm definitely happy to be tagged on any PR for the C# effort and to hear any other feedback on the .NET HWIntrinsics.

[2019-02-23 00:20] lemire commented on #56
So we are almost neighbours. (I was in Ottawa all week last week.)

[2019-02-23 00:22] geofflangdale commented on #43
Oops - sorry, apparently I can't read: "as per the single header example code" should have answered my question regarding "which main".

[2019-02-23 00:25] lemire commented on #43
The single-header version was updated as well.

[2019-02-23 00:53] ScrambledAuroras commented on #34
There are GCC builtins for checking AVX2, otherwise you'd have to use CPUID in x86_64 inline assembler.

[code]

If not relying on the *runtime* but on *compile-time* we use a special `__AVX2__` macro. I'll test it out on my Pentium 4.

If relying on `clang` I am not sure.

[2019-02-23 01:06] TkTech commented on #34
Clang's behaviour for `__builtin_cpu_supports` and `__AVX2__` is identical to gcc as of r240994 (~2015)

[2019-02-23 01:25] ScrambledAuroras commented on #34
I can't seem to test out the assertion that I inserted on legacy hardware because I do not have a machine from the era, so hopefully someone else can test.

I tested it on my Core i7 8th gen. Tests pass with a quickly made assertion. I can refine it later. The Pentium 4 does not compile the code, it is not 64-bit.

[2019-02-23 05:00] StephanDollberg commented on #43
stopped afl after around 20h now. Full set of unique crashes (70):

[crashes_20h.zip](https://github.com/lemire/simdjson/files/2896506/crashes_20h.zip)

[2019-02-23 09:12] EgorBo commented on #53
finished both `stage1_find_marks` and `stage2_build_tape` the only two missing pieces are `parse_number()` and `parse_string()` - they are quite huge 🙂 but in general the code is C# friendly:
![image](https://user-images.githubusercontent.com/523221/53284354-32337080-3764-11e9-9d8b-23ace5a3b5a7.png)

[2019-02-23 10:59] StephanDollberg opened #59 "simdjson should use a namespace"
Right now all functions and classes are defined in global namespace. This might potentially lead to clashes. Instead simdjson should put everything into its own namespace.

[2019-02-23 16:01] TkTech commented on #56
Put up a PR. We should also remove travisci, or at least disable running the tests and explicitly specify an arch that supports AVX2 for building (ex: `-march=haswell`).

Not all travisci hosts support AVX2, so builds will continue to randomly fail when it tries to execute on a machine without it (ex: #60) All circleci v2 hosts are Haswell so AVX2 is available.

Could probably also get rid of dron

[2019-02-23 16:32] lemire commented on #59
Agreed.

[2019-02-23 16:45] LifeIsStrange opened #62 "benchmark against rust de facto standard lib: serde"
https://github.com/serde-rs/json

[2019-02-23 16:58] TkTech commented on #62
Probably not a fair benchmark, serde is [relatively] slow when not using structs. Serde benchmark for canada.json is about 1/4 the speed.

[2019-02-23 19:51] EgorBo commented on #53
Just finished an initial version: https://github.com/EgorBo/SimdJsonSharp
@lemire do you mind if I keep it in my repo (I am planning to clean up and optimize some C# specific things) or you prefer to have it here in this repo in some folder?

[2019-02-23 20:00] lemire commented on #53
Speaking for myself: a separate repo is fine but we should link to it.

[2019-02-23 20:32] Olayemi12 opened #63 "Code"
https://github.com/hanxu317317/city_pickers/blob/65478dd09823862607d56ee72d34b8892ddfd2e1/lib/modal/result.dart#L9

[2019-02-23 20:33] Olayemi12 commented on #63
https://github.com/hanxu317317/city_pickers/blob/65478dd09823862607d56ee72d34b8892ddfd2e1/lib/modal/result.dart#L9

[2019-02-23 22:14] geofflangdale commented on #62
Feel free, we would be interested to see the results.

[2019-02-23 22:14] #62 closed

[2019-02-23 22:15] geofflangdale commented on #63
I cannot see how this is an issue for us.

[2019-02-23 22:15] #63 closed

[2019-02-24 00:23] parweb commented on #44
https://github.com/reactjs/rfcs/pull/68#issuecomment-466628049

[2019-02-24 00:37] parweb commented on #44
const [isOnline, setIsOnline] = add(users, isOnline(friend.id));

[2019-02-24 01:28] TkTech opened #64 "#warning isn't portable, causing errors on MSVC (and others)"
`#warning` is used to tell the end-user that AVX2 isn't available, however on all versions of Visual Studio `#warning` isn't available and will cause a cryptic error if building without AVX2 support. `#warning` isn't standard and isn't guaranteed to be available.

[2019-02-24 01:41] lemire commented on #64
Fair comment.

[2019-02-24 01:42] #64 closed

[2019-02-24 07:21] geofflangdale commented on #43
I tried all of these with amalgamation_demo and all are flagged as "not_valid" (i.e. not crashers) with amalgamation_demo compiled both normally and with optimizations switched off. Can you upload a precis of your procedure for running afl so we can redo it at will, as well as verifying that the current set of crashers is fixed in your setup as well as my own? I don't want to close this just in ca

[2019-02-24 15:10] StephanDollberg commented on #43
@geofflangdale I assume that's with your fixes applied? That's a good sign :)

Really just very basic afl usage:

[code]

where the `in` directory contains:

[code]

[2019-02-24 20:46] geofflangdale commented on #43
I did a couple 1 hour runs, one with a similar 'in' file to yours, and one with a copy of our 'short' JSON examples. Neither found any crashers. I'm hoping you can verify that on your platform that the crashers are also gone away.

[2019-02-24 22:13] StephanDollberg commented on #43
Don't think there should be any difference between the two :)

An hour is not particularly long though. You should keep it running until
the cycles done counter (upper right) turns green. That means afl hasn't
done any progress in a while. I'd expect this to take at least a day or so.

On Sun, 24 Feb 2019 at 20:46, geofflangdale <notifications@github.com>
wrote:

[2019-02-25 10:35] gigoh opened #68 "Support Unsigned 64-bit integer"
As I know number field in JSON is not limited by the number of digits,
but parser is limited by their own language specification.

In terms of the datatype, uint64 is frequently used for identifier, hash value...
and it is natural that many of Cpp based project uses `unsigned long`.

My opinion is that it would be great if the parser supports both `uint64` and `int64`.

I am really impressed with

[2019-02-25 11:46] atomheartother commented on #52
How about adding a LIBRARY_VERSION variable to the CMakeLists? Which version should we start at anyway, `0.0.1`?

[2019-02-25 11:51] atomheartother commented on #55
There's a backwards-compatibility problem with doing this the standard way (0 for success, error code otherwise), because as of right now we return `true` on success, which most definitely doesn't evaluate as 0.

@lemire I'm working on a PR for this, but how do you feel about that, returning 0 most definitely will break backwards-compatibility, but it is the standard way to do it so to speak.

[2019-02-25 12:12] cdluminate commented on #52
Sounds good to me. Actually any version number will do as long as it indicates ABI/API changes in the library. Generally it's recommended to follow the [semantic versioning](https://semver.org/) convention.

[2019-02-25 13:06] plokhotnyuk commented on #55
Is it possible to return the error code with an offset where it occurs?

[2019-02-25 13:31] mr700 opened #69 "Two headers have CRLF line terminators"
This is a minor... Only two files (singleheader/simdjson.h and include/simdjson/common_defs.h) have CRLF line terminators (DOS).

The first one looks auto generated, so only include/simdjson/common_defs.h is problematic.

[2019-02-25 15:45] TkTech commented on #55
I have no say in this, but IMO the project is so young, now is the time to make these kinds of changes with minimal pain.

[2019-02-25 16:40] plokhotnyuk opened #70 "Lower performance on small files"
I have checked on small messages with size 10Kb - 15Kb and the benchmark shows only 0.3 - 0.5 Gb per second, while for original files it shows more than 2 Gb per second.

Also, when messages grow in size up to 10Mb then benchmark shows ~1.5 Gb.

Sources of small files are [here](https://github.com/plokhotnyuk/jsoniter-scala/tree/master/jsoniter-scala-benchmark/src/main/resources/com/github/plokhot

[2019-02-25 16:41] risc12 commented on #35
Tools running on NodeJS might benefit more from a C++ Addon:
https://nodejs.org/api/addons.html

[2019-02-25 18:19] geofflangdale commented on #70
I'm not all that surprised that the system doesn't record in the Gigabytes/second range for files that are over that quickly. I wouldn't be startled to see that we have some fixed costs whether in our measurement infrastructure or at startup/teardown. This is worth looking into.

Second, not all JSON files go through our system at the same speed. Notably, number parsing is slower (see the linked p

[2019-02-25 18:20] EgorBo opened #71 "Improve accuracy of get_double"
When I parse `-65.619720000000029` value I get '-65.619720000000044' (other parsers return correct value for it)

[2019-02-25 18:48] lemire commented on #70
We have collected several examples where the speed is less than 1 GB/s (see the big bar chart we post in the README). The paper (https://arxiv.org/pdf/1902.08318.pdf) has more details. Lower speeds are typically related to files that contain lots of numbers (in which cases it becomes a number parsing task) or difficult string normalization (in which case it becomes a string normalization task).

T

[2019-02-25 19:02] lemire commented on #70
I have renamed the issue the refer to the fact that we have small files. If there is an issue with large files, it would be interesting to document it separately.

[2019-02-25 19:03] lemire commented on #70
Future work should example more carefully small files.

[2019-02-25 19:07] lemire commented on #68
That's reasonable and could be added without too much work.

[2019-02-25 19:15] lemire commented on #71
This passes our current accuracy threshold which is set to a relative error of 1e-14.

https://github.com/lemire/simdjson/blob/master/tests/numberparsingcheck.cpp#L82

Let us lower this threshold!

[2019-02-25 19:16] lemire commented on #71
(Note that our number parsing code is relatively standard. Except for a vectorized integer parsing that can get called, we don't do anything special.)

[2019-02-25 19:16] lemire commented on #69
Let us fix that!

[2019-02-25 19:17] geofflangdale commented on #71
Our behavior currently tracks (and benchmarks against) systems like RapidJSON in their "fast" mode. Would fixing this require us to change that?

[2019-02-25 19:17] #53 closed

[2019-02-25 19:21] lemire commented on #52
Pull request invited.

[2019-02-25 19:21] lemire commented on #69
Pull request invited.

[2019-02-25 19:22] lemire commented on #55
@atomheartother We can break backward compatibility if we have good reasons to do so.

[2019-02-25 19:24] EgorBo commented on #71
Oh, thanks for pointing me that piece of code!
I found this value in `canada.json`

[2019-02-25 19:31] lemire commented on #56
@TkTech I removed travis.

[2019-02-25 19:33] plokhotnyuk commented on #71
The error is ~1ULP but it should be documented properly if there is no option to parse more precisely.

[2019-02-25 19:38] #56 closed

[2019-02-25 19:49] lemire commented on #71
We have an accuracy threshold and that we test for it, with the goal of being inline with something like RapidJSON in fast mode. But the current setup can be improved in many ways:

- Explicitly documented.
- Explicitly compared against other parsers (e.g., RapidJSON).
- The accuracy itself could be improved with minimal loss of performance (as per @plokhotnyuk's comment).

Let us do better!!!

[2019-02-25 20:00] EgorBo opened #72 "Utf8 validation question"
Let's say I have a json file with `{ "name": "\udc00\ud800\uggggxy" }` content.
When I parse it using ParsedJson I get isValid == true, is it correct?
`SIMDJSON_UTF8VALIDATE` is defined.

[2019-02-25 20:04] lemire commented on #72
It won't be affected by `SIMDJSON_UTF8VALIDATE` since your input is ASCII.

[2019-02-25 20:05] lemire commented on #72
But yes, I think it should fail during stage 2. If it does not, then you have found a bug.

[2019-02-25 20:11] EgorBo commented on #72
yeah, looks more like a bug, `isValid` is true, and when I try to read that string using iterator I get `í°€â¿xy`

[2019-02-25 20:20] lemire commented on #35
Indeed, a C++ addon would be the best path forward at this time for Node.

[2019-02-25 20:26] TkTech opened #73 "Make `move_forward()` more useful by not silently consuming scope changes."
https://github.com/lemire/simdjson/blob/389f8b514e2a6415df481aef2231cceb8f174d46/src/parsedjsoniterator.cpp#L74

`move_forward()` can be used to very easily travel the tree, however it silently consumes the end of scopes (`]` and `}`) which means your consumer needs to check the depth after every return to see if the level has changed.

Instead of looping and consuming all the ends-of-scope before

[2019-02-25 20:27] lemire commented on #72
Though I did not verify it, I am flagging this as a bug. This document should blow up and we have the logic in place for it to blow up, but something goes wrong.

[2019-02-25 21:12] lemire opened #74 "Port to POWER9"
There is demand to port this library to POWER9

https://github.com/TkTech/pysimdjson/issues/9

I own a POWER9 box that I can make remotely available to someone interested in helping with the port.

cc @olgabot @TkTech

[2019-02-25 21:14] lemire commented on #73
Can you elaborate a tiny bit? (If only so that other people reading this can understand the issue.)

[2019-02-25 21:22] TkTech commented on #74
Definitely happy to support it on the python side of things if a port is available. Need to look around for anyone hosting a buildbot on ppc for the simdjson and pysimdjson builds & tests.

[2019-02-25 21:32] TkTech commented on #73
Better?

[2019-02-25 21:37] lemire commented on #73
Now it is clear.

If it makes the API easier to use, yes. Of course.

cc @geofflangdale

[2019-02-25 23:01] geofflangdale commented on #73
I think this change makes a lot of sense.

[2019-02-25 23:55] lemire commented on #73
So a pull request is invited!

[2019-02-26 00:03] hkslover opened #75 "Sorry,I need Help!"
How to use it by PYTHON!Thank you.

[2019-02-26 00:13] lemire commented on #75
Please see instructions there:

https://github.com/TkTech/pysimdjson

[2019-02-26 00:13] #75 closed

[2019-02-26 00:22] lemire commented on #44
From the README: "Performance is optimized for JSON documents spanning at least a tens kilobytes up to many megabytes".  This library (simdjson) is for processing large volumes of JSON.

[2019-02-26 00:31] lemire commented on #62
This was closed? Anyhow: I am encouraging people to do more benchmarking.

[2019-02-26 01:46] geofflangdale commented on #72
I am very suspicious of the pathway through the \u handling code:

https://github.com/lemire/simdjson/blob/master/include/simdjson/jsoncharutils.h#L70-L89

I don't think it's possible that the no_check code will ever do anything but silently and undetectably generate nonsense values. I think it's possible that this code could be fixed to ensure that any invalid character use generates a codepoint

[2019-02-26 01:48] lemire commented on #72
I have only proved it correct, not tried it.

[2019-02-26 02:24] geofflangdale commented on #72
I believe that this is fixed now. The problem was that nothing checks the return value of that conversion to "u32" (really u16). I changed this to put 1-bits into the high 16 bits of any invalid character lookup and ensured that it's impossible to leave handle_unicode_codepoint with either the first or second codepoints invalid.

I will add another test, as we were clearly evading the problem prev

[2019-02-26 02:33] geofflangdale commented on #43
Removed the 'bug' label as there is no longer an actual bug associated with this issue to my knowledge. As per Stephan's advice, am running a longer test - it is currently at 27 hours with no crashes or hangs.

[2019-02-26 03:42] cdluminate opened #77 "Debian packaging for simdjson"
I've created a Debian package for simdjson: https://salsa.debian.org/debian/simdjson
And it's waiting in Debian's NEW queue: https://ftp-master.debian.org/new/simdjson_0.0~git20190221.3757349-1.html

Sometimes later it will enter Debian unstable. And at that time maybe we can add another "Installation" section to readme?

[2019-02-26 09:26] mr700 commented on #69
Done, see https://github.com/lemire/simdjson/pull/78

[2019-02-26 12:10] EgorBo commented on #72
I believe we can close this one, ported the fix to C# and verified. Thanks!

[2019-02-26 12:10] #72 closed

[2019-02-26 14:13] lemire commented on #69
Reopened as per this comment: https://github.com/lemire/simdjson/pull/78#issuecomment-467453259

[2019-02-26 18:33] mr700 commented on #69
No longer relevant, this is fixed in "Daniel Lemire <v0.0.1> First release (0.0.1)

[2019-02-26 18:33] #69 closed

[2019-02-26 19:35] csuwildcat opened #80 "Include Node.js native JSON parser in comparison stats/charts"
Any way you can include the native Node.js runtime's JSON.parse() so folks can get a sense of this solution vs a native Node.js baseline?

[2019-02-26 20:51] atomheartother commented on #55
The WIP branch to check the progress on this is #82 .

[2019-02-26 21:39] #52 closed

[2019-02-26 21:41] lemire commented on #73
Marking as "help wanted".

[2019-02-26 21:42] lemire commented on #77
Marked as "help wanted".

[2019-02-26 21:47] lemire commented on #80
From the paper (https://arxiv.org/pdf/1902.08318.pdf):

Marked as "help wanted".

I would point out, meanwhile, that it ought to be relatively easy to take large files (look at jsonexamples), load them up using node's parser and measure the time spent.

[2019-02-26 22:20] andre2007 opened #83 "Please include https://github.com/mleise/fast"
Some time ago https://github.com/mleise/fast claimed to be the fastest json parser. It would be nice to have it included in the benchmark.

[2019-02-26 22:55] lemire commented on #83
It appears to be written in D. From the paper (https://arxiv.org/pdf/1902.08318.pdf):

We certainly encourage further benchmarking, but I don't think we will add D as a dependency on this project, here.

[2019-02-26 22:55] #83 closed

[2019-02-26 23:41] lemire commented on #43
@geofflangdale Any chance we can get fuzz testing as part of our official workflow... so that we can run it periodically?

[2019-02-26 23:46] geofflangdale commented on #43
I've been fuzz testing for 2 days with no further effect, but the 'cycles done' hasn't gone green (no crashes either). So this is CPU intensive in a fashion that suggests that we aren't going to be able to lean on unpaid public infrastructure (rightly).

I think we could create a 'make fuzz' target that seeds a few reasonable files in an 'in' directory and then fires up afl-fuzz in the fashion tha

[2019-02-27 00:38] geofflangdale opened #85 "Investigate performance fluctuations from weird 256-bit store in string normalization"
EgorBo found that memcpy outperformed our intrinsic 256-but store in string normalization. It seems like something weird is happening that's worth looking in to, even if we don't want to trust memcpy on all platforms:

https://github.com/lemire/simdjson/pull/84

[2019-02-27 04:06] andre2007 commented on #83
Yes it is written in D and it it's statement was, that it is the fastest json parser available. Therefore comparing your implementation  against this parser makes sense.

Also the fastest file system is written in D.

[2019-02-27 09:42] geofflangdale commented on #80
I would be happy to have a 'contributed benchmarks' page which serves as a clearinghouse for benchmarks of simdjson done by third parties against anything that they are sufficiently motivated to test against. I don't see us taking on the task of benchmarking against many different JSON implementations on many different platforms.

[2019-02-27 10:14] plokhotnyuk commented on #83
[That JSON test](https://github.com/kostya/benchmarks#json) is mostly about parsing of float point numbers and it do not check results of parsing precisely. So some authors cheats by using loosing routines: https://github.com/kostya/benchmarks/blob/master/json/json-scala/src/main/scala/JsonTest.scala#L21

[2019-02-27 11:28] EgorBo opened #87 "Store strings' lengths in the tape"
I am not sure it makes sense in the upstream but in C# I have to convert UTF8 to UTF16 so it'd be nice to have an ability to obtain string's length (currently I have to count chars till '\0' first)
Are you interested in a PR that adds this functionality and which approach would you recommend - can I fit "string length", "offset" and `"` into the tape item? I guess I'll have to limit offset to uint

[2019-02-27 13:02] csuwildcat commented on #80
My only reason for suggesting you include Node.js/Chromium's implementation
is that it represent the vast majority of JSON parsing that occurs in the
world (via 70% market share in browsers and one of the most used server
envs). I'd argue it's the de facto baseline, and not including makes all
other library-level comparisons a sort of untethered, relative measure.
Just my 2¢.

I've never written a

[2019-02-27 15:13] lemire commented on #87
I am interested in a prototype so that we can assess it, in particular as far as performance goes. So... yeah... if you have something, then I'd be interested.

The best path forward is to try to understand the effect that this has.

We will implement it, but we must understand what it entails, and upsides and the downsides. There may be different ways to skin this cat with different tradeoffs.

c

[2019-02-27 15:38] lemire commented on #80
The disagreement is not about whether it is a good thing but as to whether it needs to be done in the simdjson repository/project.

[2019-02-27 19:53] TkTech commented on #87
Excellent, I requested this in #40 for the exact same reason.

[2019-02-27 19:57] EgorBo commented on #87
@TkTech oh, didn't notice that issue 🙂

[2019-02-27 23:22] geofflangdale commented on #87
I generally like this idea. I would prefer not to add new quirky speedbumps to our implementation e.g. "we can only have 16MB strings because they wanted to pack the string offset+length+'"" code into 64 bits). 4GB strings would be fine, of course, as that's just beyond huge.

I think the ship may have already sailed on 4GB offset but similarly I wouldn't want to enforce that _just_ for this issue

[2019-02-27 23:35] EgorBo commented on #87
@geofflangdale makes sense, will change the PR.

[2019-02-28 01:11] lemire opened #90 "Consider adding (runtime) AVX2 detection"
@TkTech has included a runtime AVX2 detection routine in pysimdjson:
https://github.com/TkTech/pysimdjson/blob/develop/simdjson/cpuid.c

I am not sure what @TkTech's routine would do on ARM or POWER... so we still needs compile-time checks. Still, it would be friendlier to provide nicer errors to users having older hardware.

[2019-02-28 01:18] TkTech commented on #90
It's extremely x86-specific. On ARM or POWER you'd just wrap the entire file in a
[code]

[2019-02-28 02:06] lemire opened #92 "Update AUTHORS/CONTRIBUTORS file"
Evidently, this project is receiving and will keep receiving valued contributions from a range of super smart individuals. Credit needs to be given.

[2019-02-28 06:28] andre2007 commented on #83
@mleise just for your info, I tried to get your library also included into the benchmark.
Maybe you are interested in comparing how your library is compared to this one?

[2019-02-28 23:58] mleise commented on #83
@andre2007 I'll certainly take a look next week. I didn't put a date of expiry on my claims.

[2019-03-01 07:29] TkTech commented on #87
- [Microsoft appears to default to 4MB](https://docs.microsoft.com/en-us/dotnet/api/system.web.script.serialization.javascriptserializer.maxjsonlength?view=netframework-4.7.2).
- [IBM DataPower](https://www.ibm.com/support/knowledgecenter/en/SS9H2Y_7.6.0/com.ibm.dp.doc/json_parserlimits.html) defaults to 8K.
- All common browsers are at least 2^27
- Pretty much every other source I found used `siz

[2019-03-01 18:32] lemire commented on #87
The specification allows us to set limits on the length of strings... "An implementation may set limits on the length and character contents of strings".

Varint is branchy, so this may affect performance negatively. Think about the fact that we have many strings so the cost adds up pretty quickly.

War and Peace is 2MB. However if someone encodes an image using base64, it could easily exceed 16MB

[2019-03-01 22:17] geofflangdale commented on #87
Let's just stick a 32-bit value at the head of the string, take off the null-termination, and eat the extra 3 bytes. I'd rather do that and not have to document some limit and get another pack of people shouting at us over yet another thing.

[2019-03-01 22:37] lemire commented on #87
Fine.  Currently we have preallocate the string tape. When we do this allocation we just have the size of the JSON. How much should we allocate?

That's the current code...
[code]

https://github.com/lemire/simdjson/blob/a22c20fab058e740cd428ae6d6d781be765ceca5/src/parsedjson.cpp

[2019-03-01 22:40] lemire commented on #70
Note that with small files, it becomes important to reuse the `ParsedJson` objects. That is, you don't want to constantly allocate and de-allocate memory... I don't think it plays a role in the benchmarks above, but in an actual application, it would matter.

[2019-03-02 01:38] lemire commented on #80
The wrapper for node is not perfect, and I am sure it will massively improve (give people a break: it was obviously written very quickly). However, we can check the numbers already. The differences range between 2x and 5x in favour of simdjson.

[code]

[2019-03-02 01:51] everestmz commented on #43
Hey! We just launched our fuzzing as a service tool the other day (https://fuzzbuzz.io), and we're providing free team accounts with a bunch of free compute power to open-source projects that need it. I'd be happy to help get this project set up there - let me know if that sounds interesting!

[2019-03-02 11:54] bithw1 opened #93 "Are there plan to provide java version simdjon"
Hi,

Would ask to know whether there is a plan to provide a java version simdjon library.

[2019-03-02 13:36] lemire commented on #93
There is a C# version https://github.com/EgorBo/SimdJsonSharp

I don’t think anyone is investigating a Java version.

I think that if we have Panama then it becomes easier... https://openjdk.java.net/projects/panama/

[2019-03-02 13:41] bithw1 commented on #93
Sure, thanks @lemire for the information

[2019-03-02 13:41] #93 closed

[2019-03-02 19:37] lemire commented on #43
@everestmz We might take you up on it.

[2019-03-02 20:16] lemire opened #94 ""Pack" memory allocation"
We do several memory allocations at once. They could be combined in a single, larger memory allocation, for possibly better performance.

[2019-03-02 21:55] lemire opened #95 "add support for query language (e.g., a simple subset of JSONPath)"
Currently, client can navigate the parsed JSON, but there is no support for a query language.

This could be supported either by re-using an existing framework (plugging simdjson into it) or working from simdjson itself.

[2019-03-02 21:55] lemire commented on #95
cc @TkTech

[2019-03-02 22:04] TkTech commented on #95
This is a much bigger project than it sounds if you want comprehensive support. I'd suggest implementing support for simdjson as an extension to jq instead of implementing the query language in simdjson itself. `jq` and (spec-complete) `JSONPath` implementations are languages in their own right and typical use a psuedo-VM to run the query.

[2019-03-02 22:15] lemire commented on #95
I think that is what I mean by "by re-using an existing framework (plugging simdjson into it)". I am betting that this can be done relatively well without too much work.

Right. Honestly, I was just thinking of filtering... basically "subset selection".

I am not assuming that this is a small project. It could get a bit challenging, even with a restricted query language.

[2019-03-02 22:19] TkTech commented on #95
If that's all you're looking for at the moment, that is something I can contribute. It would be nice to have the filtering language consistent between the various bindings/forks.

[2019-03-02 22:22] lemire commented on #95
@TkTech

I think that would be good. Even if it is minimalist, that would still be a huge step forward in some instances.

[2019-03-03 11:12] csuwildcat commented on #80
This is helpful, I really appreciate yoi including this measure. We're
always actively searching to improve a critical JSON.parse() aspect of an
open source project we're developing, and the native Node env is always the
starting point we check against. We've considered some GPU strategies and
other directions, so I'd love to read a blog posting about your experience
and realizations as you tackle

[2019-03-04 14:10] lemire opened #99 "CMake build should support LTO"
https://github.com/RoaringBitmap/CRoaring/blob/master/tools/cmake/FindLTO.cmake

[2019-03-04 15:37] geofflangdale commented on #95
I  like the idea of a compatible subset. Is there anything stopping us from saying "ok, here's the bit of JSONPath we support"?

I don't know whether it's feasible to combine doing things entirely from outside simdjson and to get performance that's representative of what it could be. Much of the work in stage 2 could be completely elided if we knew we only needed some of the input.

What might be

[2019-03-04 17:31] lemire opened #100 "Provide a Rust wrapper"
Rust is popular and a wrapper could be super efficient (no overhead).

[2019-03-04 23:29] TkTech commented on #95
JSONPath is probably out-of-scope. You would build a JSONPath implementation on simdjson, but it's a lot to put into what should ideally be a pretty small, solid core.

There are 2 main improvements that I can see as an end-user. One is iterative parsing, which doesn't necessarily offer speed improvements except for possible early termination, but it does offer significantly better peak memory usa

[2019-03-05 00:05] TkTech commented on #100
Looks like a squatter already grabbed the crate name with a fake package? Even has 11 downloads.

https://crates.io/crates/simdjson

[2019-03-05 00:06] lemire commented on #100
@TkTech   Come on people! Thanks just not cool.

[2019-03-05 00:11] TkTech commented on #94
After this change, would it be reasonable to also lookup the free/malloc from a pointer? Python, JVM, and pretty much everything else with a runtime implement their own userspace free/malloc to more efficiently re-use memory without a context switch. Also allows bookkeeper for your allocations from the higher-level tools, and the use of debugging allocators when looking for faults. It would be nic

[2019-03-05 00:15] TkTech commented on #95
@EgorBo @luizperes as folks that have built on top of simdjson already, your input would be appreciated :)

[2019-03-05 00:20] lemire commented on #94
@TkTech I expect you should already be able to hack the memory allocation and provide your own. You can always provide your own `malloc` and stuff. I bet you can already use PyMem_Malloc without modifying any code in simdjson proper. Of course, I might be wrong, but if I am, I'd like to know how.

[2019-03-05 00:27] TkTech commented on #94
You can, but it is not portable or trivial since it typical requires symbol management and can affect other libraries you've linked to. The approach used by practically all libraries is to store pointers to them in whatever management structure they're using. For example for zlib you have `z_stream.zalloc` and `z_stream.zfree` which just point to malloc/free by default.

[2019-03-05 00:28] lemire commented on #94
We can do that, sure.

[2019-03-05 01:47] luizperes commented on #95
Hi @TkTech,
I liked it! It seems simple and effective!

[code]

<img width="688" alt="screen shot 2019-03-04 at 5 44 51 pm" src="https://user-images.githubusercontent.com/6173065/53774976-81d11500-3ea5-11e9-8acb-668cfb49cf0f.png">

[2019-03-05 02:35] lemire commented on #95
Wait? We already have a formal syntax?

[2019-03-05 02:37] geofflangdale commented on #95
I'm not enthusiastic about this direction.

I can potentially see all manner of helper libraries that sit outside of simdjson and help people query things. This is fine and I don't see any reason to stop this, but there's no reason that simdjson needs to change (I hope) to support this kind of use.

What I'm enthusiastic about is the idea of people being able to control the simdjson parsing step w

[2019-03-05 02:42] lemire commented on #95
@geofflangdale This context is relevant: https://github.com/TkTech/pysimdjson/issues/22

[2019-03-05 03:33] TkTech opened #104 "Code Style Consistency"
The code currently uses an odd mix of indentation patterns, function naming (isValid, move_forward), comments, etc...

Would there be any objection to normalizing the style? As you get more external contributors this will become more important to help keep the code maintainable. A new test would double check the style before it passes.

https://clang.llvm.org/docs/ClangFormat.html for example is a

[2019-03-05 10:09] geofflangdale commented on #104
This is a good idea. I wouldn't necessarily want to immediately take on every element of the Goog's style guide blindly - I can see a bunch of churn for no good reason. But we haven't really figured out a style guide for stuff like indenting and identifiers and it makes sense to bring in something else rather than try to dream up our own style guide (there's 3 months we won't get back!).

I like G

[2019-03-05 10:24] geofflangdale commented on #95
We're not going to get too many cracks at building a query language. I like the start that's made, here, but don't really want something that is only centered around putting a band-aid on the injury of Python object creation.

I would like something that offers a bit more power and can be supported natively within simdjson. We could _really_ make selective queries blaze along. Stage 2 is a huge mi

[2019-03-05 16:32] lemire commented on #104
I am super annoyed at that myself... so yeah, I am supporter of something nicer.

I have resisted applying clang-format to the project but I think we would welcome both a reformatting *and* maybe some tooling to check formatting (e.g., during unit tests). I am against adding clang-format as a dependency for developers, because dependencies are evil, but it would be nice to know when a PR breaks th

[2019-03-05 21:11] geofflangdale commented on #104
I've got some big 'smashing' reworks coming which would be a good time to apply clang-format to some pretty large chunks of code. I need to refactor Stage 1 to make it less verbose and somewhat more modular (without breaking performance, which is always delicate). This will change a lot of LOC at once _anyway_. AFAICT there aren't that many people working in that area.

Are we agreed that `clang-f

[2019-03-05 21:24] lemire commented on #104
@geofflangdale

I personally don't have any strong feelings regarding formatting. What I think we all agree with is *consistency*.

[2019-03-06 00:06] TkTech commented on #104
Sorry if it seemed like I was pushing the Google style guide, I just meant for it to be an example!

As an open-source contributor you get used to working on projects with a wide range of styles. You just adapt to whatever the adjacent code looks like, it's someone else's project after all. But of course that only works if the styling is consistent.

[2019-03-06 00:11] geofflangdale commented on #104
I used the google style guide on my refactoring of stage1_find_marks.cpp and liked it.

[2019-03-06 00:13] geofflangdale opened #106 "The single-header code should be a build artifact, not in the github repo"
I'm not an expert in handling this, but the single-header version surely shouldn't be in the repo. It's just an artifact of the other code. It should appear when we build.

Otherwise it's going to be constantly getting changed and needing to be 'merged' as a result of people making unrelated changes elsewhere in the code base.

[2019-03-06 00:41] lemire commented on #106
It is a convenience thing. If you are building a wrapper or something around the code, and you want to use the single-header code, then it is super easy if you can just pull the project and get the single-header version right there.

Building it is possible, of course, but right now this is done with a bash script (amalgamation.sh). This assumes bash a few other tools as a dependency. It won't wor

[2019-03-06 00:48] lemire commented on #104
I am pretty sure that I speak for both myself and @geofflangdale when I state that "owning" this project is not a goal.

[2019-03-06 00:50] TkTech commented on #106
I believe he means a build artifact as in a CI build artifact. circleci/travis/appveyor can all save arbitrary files from the results of jobs, and can very easily push the results to github as a a release (looks exactly like uploading to pypi with twine). It's just as convenient since since for example on circleci I can get a URL that always points to the latest build artifact for the master branc

[2019-03-06 01:28] geofflangdale commented on #106
Nope, I actually meant in the git sense alone.

It just adds a bit of friction to any check-in, and I'm thinking it will be a real pain to merge multiple changes. But @lemire gives a good justification for why it's that way (the Windows and other build chains). So unless there's a wonderful way of dodging this problem.

However, I think TkTech's solution is the right one - our CI system could keep

[2019-03-06 02:34] lemire commented on #106
@geofflangdale I am not sure I grok the difference with what we do right now.

So, right now, the single-header code only gets changed manually. You have to call a makefile target (amalgamate) and then do a commit. If you don't type `make amalgamate`, the single-header code does not change.

I am trying to understand what you mean by...

Unless you do `make amalgamate`, these files should not chan

[2019-03-06 03:23] geofflangdale commented on #106
OK, I think I've been Doing It Wrong. I suppose I'm always nervous about having a single-header version that's not reflective of the latest code - just in case we have a performance blip or bug in the current code. So I always wind up updating the code via amalgamate, but I guess I should stop.

[2019-03-06 03:23] #106 closed

[2019-03-06 03:49] lemire commented on #106
Speaking for myself, I have never run the benchmarks from the single-header version, but from the ``make`` code. It is possible, I suppose, that the single-header version could have different performance, but...

[2019-03-06 03:53] geofflangdale commented on #106
I meant that I might fix (or break!) something performance-related in the
main version, then have someone clag the out-of-date single-header version
and raise an issue that seems confusing from the perspective of what I
would view the "current state of the code" to be.

It's really just a symptom of being in a 'not quite released state' and
will go away when this is more solid (thus my closing of

[2019-03-06 09:19] geofflangdale commented on #104
If anyone wants a look at what this looks like, see my recent check-in of stage1_find_marks.cpp - this went through clang-format's idea of the Google style guide, at least.

[2019-03-06 17:13] #73 closed

[2019-03-06 20:32] uilianries opened #109 "Conan Package Support"
Hello,

Do you know about [Conan](https://conan.io)?

Conan is modern dependency and package manager for C/C++. And would be great if your library would be available via package manager for other developers.

All official Conan packages are available on [Conan Center](https://bintray.com/conan/conan-center), where is possible search, install and upload any Conan package.

Since your project have a

[2019-03-06 22:11] lemire commented on #109
Marked as "help wanted".

[2019-03-07 03:03] TkTech commented on #100
I've started working on porting it this evening as a fun way to learn Rust. stage_one is complete for x86_64 and started experimenting on aarch64 (only available if using nightly) . Feature dispatch is surprisingly clean with `if_cfg` and feature macros.

It's unfortunate that it seems like to use `#[target_feature(enable ="avx2")]` requires that the entire function be marked unsafe. I'm hoping th

[2019-03-07 15:38] wangjiachun opened #112 "Support UTF-16 parsing"
It seems that it only parse a char characters stream. And I found get_corpus function that only produce a char-unit character. But for wchar_t-unit characters which have two bytes for each, I can use "std::wstring_convert<std::codecvt_utf8_utf16<wchar_t>, wchar_t>" to convert them to char-unit and parse them then. The conversion process is costing much time while the parsing process is so fast. Ar

[2019-03-07 15:54] lemire commented on #112
We only support UTF-8 inputs. UTF-8 is the standard encoding for JSON, XML.

Support for UTF-16 and UTF-32 inputs is not unthinkable but would be best done as separate code paths.

There is currently nobody working on this. Contributions invited.

[2019-03-09 22:00] lemire opened #114 "Refuse to parse documents larger than 4GB"
I am going to propose that we reject documents exceeding 4GB as part of hhe specification (subject to revision in the future). One argument is that we aren’t going to reasonably be able to test such cases in the near future.

[2019-03-09 22:41] lanrobin commented on #93
Would some one is interesting wrapper it through JNI for java user?

[2019-03-09 22:45] lemire commented on #93
@lanrobin I think that it would be great. We have Python, JavaScript, C#, Rust(started). I am sure a Java wrapper would generate a lot of interest.

[2019-03-10 09:15] Think7 opened #115 "BMI / AVX2 Errors during compilation"
Greetings,

When including the header only version into my C++ project, I receive the following error messages:

[code]

My hardware / compiler is as follows:

[code]

Thanks for your time and sharing this wonderful project!

[2019-03-10 11:38] TkTech commented on #115
You're missing -march=native or -march=haswell. You haven't told gcc to actually use CPU-family specific features such as AVX2.

[2019-03-10 14:37] lemire commented on #115
@TkTech is correct.

[2019-03-10 14:45] lemire commented on #115
We require hardware support for AVX2 instructions. You have to make sure that you instruct your compiler to use these instructions as needed. Under compilers such as GNU GCC or LLVM clang, the flag -march=native used on a recent Intel compiler (Haswell or better) is sufficient. You may also use the flags -mavx2 -mbmi2. Under Visual Studio, you need to target x64 and add the flag /arch:AVX2.

[2019-03-10 14:45] lemire commented on #115
I'm going to close this since I have updated the README with these instructions.

[2019-03-10 14:45] #115 closed

[2019-03-10 19:30] Think7 commented on #115
Thank you both for your help! I'm rather inexperienced with fiddly compiler switches.

Since my project is Qt based, i needed to add the following to my .pro file:

[code]

Now i'm left with this one warning:

[code]

[2019-03-10 21:58] lemire commented on #115
That’s a harmless warning.

[2019-03-11 00:40] TkTech commented on #115
@Think7 Just remember, if you intend for it to be compiled by the end user, use `-march=native`. If you intend to distribute it as a binary, choose `-march=haswell`. Using `native` tells the compiler to use all the available features of *your specific cpu*, which may have features processors even a few months older do not have. This tends to result in the most efficient binaries, but the least por

[2019-03-11 21:31] lemire opened #116 "Add instructions regarding vcpkg"
It looks like simdjson is now available via Microsoft's vcpkg. We lack instructions (in the README) about it.

cc @myd7349

[2019-03-11 21:33] lemire commented on #115
@Think7

Would you be willing to contribute a small paragraph to explain to others how to use the library with Qt? It is best if people don't need to rediscover the wheel.

[2019-03-11 21:46] lemire opened #117 "Project logo (professional grade)"
We need a project logo.

I cannot draw.

[2019-03-12 08:17] SunDoge commented on #100
I made one but it's still in progress. [simdjson-rust](https://github.com/SunDoge/simdjson-rust)

[2019-03-12 08:31] lihui opened #118 "some bugs in singleheader"
singleheader/amalgamation_demo   report  well-formed  json as  not valid.
but when i  build  amalgamation_demo with  include files:
 #include "simdjson/jsonioutil.h"
#include "simdjson/jsonparser.h"
just as   tools/json2json

it works as i expected.

so i think there must be some bugs in  singleheader(snapshot and version@0.0.1)

[2019-03-12 08:53] EgorBo commented on #117
Neither can I https://raw.githubusercontent.com/EgorBo/SimdJsonSharp/master/images/logo.png 🙂

[2019-03-12 09:46] TkTech commented on #118
This is not enough information. Can you provide the JSON that failed to validate, or a minimum reproduction?

[2019-03-12 09:50] TkTech commented on #100
@SunDoge I noticed your project the other day but at the time it looked like you were porting it. Now it looks like you're binding the C++ lib. Are you doing two different versions or sticking with the wrapper?

[2019-03-12 10:22] SunDoge commented on #100
@TkTech Hi. At first I wanted to port it as it is a great chance to learn simd. But I noticed this issue today and thought it easy to implement one. So I spent several hours on it. So yes, I'm doing two different versions.

It seems that you are also working on the porting, would you like to join me or is there a repo that I can contribute to? I know little about simd and it's hard to do it myself

[2019-03-12 12:33] lemire commented on #100
I know a bit of Rust, so I might help a bit in either case.

[2019-03-12 12:35] lemire commented on #118
@lihui Tyler is correct. Can you share with us a JSON file where this issue arises.

[2019-03-12 12:36] lemire commented on #118
I marked this as "unverified". We need to be able to reproduce this issue for us to work on it.

[2019-03-12 13:05] myd7349 commented on #116
OK. Let's give it a shot.

[2019-03-12 13:38] TkTech commented on #100
My port is only complete to stage 1, it's a way for me to learn rust so it's quite awful. I've been keeping the repo private (just shared with Lemire) to prevent anyone stumbling on it from Google and thinking it was usable. Probably better for effort to go into your port if you're familiar with rust, and it looks like you are.

One or the most annoying (but trivial) bits I've found with direct tr

[2019-03-12 14:07] lemire commented on #100
Likely bugs? Please share.

[2019-03-12 19:08] lemire commented on #117
Well, you win. I sure couldn't do better. :-)

Let us go with that.

[2019-03-12 19:09] EgorBo commented on #117
well, it's more like an idea for a designer 😄

[2019-03-12 19:10] lemire commented on #117
@EgorBo  I get that but this is better than nothing.

[2019-03-12 19:15] lemire commented on #117
Ok. So we now have Egor's logo as a starting point. It is clean and look good, but Egor is probably not a professional designer so let us assume that we can improve this logo. I am leaving the issue open.

[2019-03-12 19:31] EgorBo commented on #117
@lemire yeah I am definitely not, but I've tried to improve it a bit and added an alpha:
![ico](https://user-images.githubusercontent.com/523221/54229976-81282680-4516-11e9-8168-a1eeff50ddd7.png)

[2019-03-12 20:10] lemire commented on #117
Maybe a new career is ahead of you!

Replacing the log with this... I think I will close this issue with this because your logo is quite nice. To my untrained eyes, this looks professional.

[2019-03-12 20:10] #117 closed

[2019-03-13 07:09] lihui commented on #118
<pre><font color="#8AE234"><b>higgsli@higgsli-VirtualBox</b></font>:<font color="#729FCF"><b>~/work/demo/simdjson-0.0.1/singleheader</b></font>$ ../build/tools/amalgamation_demo  ../jsonexamples/twitter.json
valid
<font color="#8AE234"><b>higgsli@higgsli-VirtualBox</b></font>:<font color="#729FCF"><b>~/work/demo/simdjson-0.0.1/singleheader</b></font>$ ./amalgamation_demo ../jsonexamples/twitter.js

[2019-03-13 07:14] lihui commented on #118
<pre><font color="#8AE234"><b>higgsli@higgsli-VirtualBox</b></font>:<font color="#729FCF"><b>~/work/demo/simdjson-0.0.1/singleheader</b></font>$ cat amalgamation_demo.cpp
/* auto-generated on Tue 26 Feb 2019 10:14:31 EST. Do not edit! */

#include &lt;iostream&gt;
#include &quot;simdjson.h&quot;
#include &quot;simdjson.cpp&quot;
int main(int argc, char *argv[]) {
  const char * filename = argv[1];

[2019-03-13 09:36] abolz opened #119 "While- instead of if-statement in numberparsing.h"
This `while` https://github.com/lemire/simdjson/blob/afd9d729541d7a9c33f04a17239b2231988ff173/include/simdjson/numberparsing.h#L450-L455 in `parse_number` should be an `if` statement, since otherwise the following `if` statements will never be executed (and `expnumber` may overflow).

Or, assuming that the intent is to parse no more than 3 digits, it should be removed completely.

Aside: While par

[2019-03-13 12:02] lemire commented on #118
We welcome bug reports, but this is not nearly enough information for others to reproduce and/or identify your problems.

I am going to close this.

Please reopen if you can clearly explain your problem and provide complete steps and complete descriptions (with complete and precise sentences).

[2019-03-13 12:02] #118 closed

[2019-03-13 12:15] #116 closed

[2019-03-13 12:18] lemire commented on #119
Thanks for your report.

We allow overflows and then catch them later by branching on the length of the number (it is faster than checking overflows on each operation given that most numbers will not overflow).

[2019-03-13 15:02] lemire commented on #119
These while loop has no business being there. I simply removed it. Thanks for reporting the issue.

Closing.

[2019-03-13 15:02] #119 closed

[2019-03-13 17:52] Raincode commented on #70
Once compiler vendors properly support the C++17 standard, you will have std::from_chars, maybe? AFAIK this should be pretty fast for parsing numbers, but atm only integers are supported e.g. on GCC.

[2019-03-13 18:39] lemire commented on #70
@Raincode Why would you expect `from_chars` to be faster that our current approach?

Note that we have to follow the JSON spec. This may or may not be possible using `from_chars`.

[2019-03-13 23:32] #87 closed

[2019-03-13 23:32] #114 closed

[2019-03-13 23:37] lemire commented on #40
Fixed with https://github.com/lemire/simdjson/pull/101

[2019-03-13 23:37] #40 closed

[2019-03-14 19:35] lemire opened #121 "Create Java version"
We currently lack a Java version for Java users.

[2019-03-15 15:04] Raincode opened #122 "jsonioutil::get_corpus Returns string_view to locally allocated buffer (leak)"
[code]
Pardon me if I am wrong, but it looks like to me this function simply leaks `buf` by returning a std::string_view to a locally allocated buffer. std::string_view does not take ownership over that memory, so I would recommend returning a std::string instead. Repeated calls to get_corpus would eventually exhaust RAM. Or am I missing something here?

[2019-03-15 15:14] Raincode commented on #70
That's not necessarily what I meant (you can only find out by testing it). Just wanted to bring up a possible alternative solution (if it is ever supported properly).

---

That's something I didn't consider, not sure how JSON spec differs e.g. with overflows etc.

[2019-03-15 16:09] lemire commented on #122
The documentation regarding this function is explicit that you are responsible for freeing the memory when you call this function...

[code]

[2019-03-15 16:15] lemire commented on #122
I am closing this. There is a leak if and only if the users do not follow the usage recommendations.

A ``std::string`` cannot be used because we require appropriate padding. This is covered by a previous issue https://github.com/lemire/simdjson/issues/32#issuecomment-466313473

[2019-03-15 16:15] #122 closed

[2019-03-15 16:17] Raincode commented on #122
Ah I understand, my bad. Sorry for the inconvenience. I guess users can just implement their own tiny RAII wrapper then.

[2019-03-15 16:19] lemire commented on #122
The library is still very young. We could improve this aspect without too much trouble. I closed your issue mostly because it is already covered by another issue. You could not know this because the previous issue was under a different (misleading?) title. I fixed that.

[2019-03-22 05:05] geofflangdale commented on #20
Anyone curious about this should note that I'm working on this at the moment. Suggestions welcome. I estimate something working in trunk by the end of March 2019.

[2019-03-22 12:19] lemire commented on #20
+1

[2019-03-23 16:17] tahasabih opened #128 "Parse file larger than 4 GB"
I have JSON dump documents larger than 4GB. Is it possible to modify the library to be able to parse those documents?

I do want to only parse a subtree of the JSON file, will that be possible without parsing the entire file?

[2019-03-23 16:21] lemire commented on #128
Yes... but we don’t have the hooks in the library to do it now. I’d be interested in making it happen if you want to help.

[2019-03-23 16:40] tahasabih commented on #128
Yes that would be great!

[2019-03-23 16:50] lemire commented on #128
Ok... so what do you imagine as an API?

[2019-03-23 17:13] tahasabih commented on #128
I was actually using the python wrapper for this library which provides an interface:
https://github.com/TkTech/pysimdjson -> It's called simdjson.ParsedJson with an example in the README

This is exactly how I want to use it - ideally it only parses the json when it encounters the subtree with a key which matches a regex (or a convention based path).

[2019-03-24 17:57] lemire commented on #128
I am not sure pysimdjson does selective parsing. I think it parses the whole thing.

We enforce the 4GB limit to prevent adversarial inputs where a given string would reach 4GB. We don’t support documents with 4GB strings.

There are other issues with 4GB document like memory usage. If you have very large documents, you probably don’t want to fully materialize the tree as we do currently.

I’m int

[2019-03-25 06:42] tahasabih commented on #128
Materializing the whole tree is definitely not the way to go at least for my use case.
In my use-case I have a 6GB nosql json dump from a db and I want to selectively access certain subtrees where I fully know the path to this subtree.

For example:
[code]
I just want "abc.def" which should give me
[code]

I am most definitely willing to help out with benchmarking (though the db dump I have has se

[2019-03-25 12:08] lemire commented on #128
I would not want a 6 GB data file in our repo. nor should we ever need private information.

As far as I know, there is nothing else (except for the line that you found) that should block the use of large (>4GB) file, other than this check. If you use a smaller file (<4GB) or a subset of your existing large file (6GB), does it validate? I'd be interested in knowing more about what prevents you fro

[2019-03-25 12:57] tahasabih commented on #128
Yeah I had a smaller file (~3GB) with the same structure and that was being parsed ok.

I think the memory allocation stage is failing - but I am not very proficient with C++ so I let me try to see a bit more what's the exact reason.

#95 looks interesting and would be super-useful. Let me see if there's anything I can contribute there

[2019-03-25 14:01] lemire commented on #128
If you follow the following pattern...

[code]

You should be able to tell whether `allocateCapacity` fails. I am guessing that it would be your problem.

[2019-03-25 14:46] TkTech commented on #128
Correct, it's still just using an unmodified simdjson under the hood. It does selective elevation of elements to Python objects when using `items()`, that's it. But that's also 95% of the overhead!

[2019-03-26 20:50] lemire opened #130 "Selectively disable sanitizers in the appropriate locations"
Currently, running this library with sanitizer is likely to trigger many false positives. We should fix this by making appropriate use of function attributes like `__attribute__((no_sanitize))` to disable checks where needed.

cc @geofflangdale

[2019-03-27 08:52] tahasabih commented on #128
Yes it definitely fails on allocate memory:

[code]

I am running this on a 64bit EC2 machine with 32GB of memory.

[2019-03-27 12:05] lemire commented on #128
@tahasabih

Thanks. This makes sense.

Note, no matter how we skin this cat, the performance is always going limited if your architecture involves bring large volumes of data from memory to cache, then pushing them back from cache to memory (as a materialized DOM) and then bring them back to cache.

A reasonable solution for us might to implement a form of paging. We start parsing the large docume

[2019-03-27 15:50] Licenser opened #131 "possible bug with the json `0`"
I think if the json `0` is passed in, parse_number function will fail as when checking the (next) character (null-byte) is_not_structural_or_whitespace_or_exponent_or_decimal will return true.

[2019-03-27 16:03] lemire commented on #131
You mean if the whole document is just 0?

[2019-03-27 16:12] Licenser commented on #131
Yap! I'm sorry I don't have the c++ toolchain here right now to add a test :( but from what I read in the code it would:
go to the [number in base](https://github.com/lemire/simdjson/blob/ddc2867f944284a5ae46c69c4758040d6ff756a9/src/stage2_build_tape.cpp#L184) case then copy the "0" into `0` followed by `\0` and go off to `parse_number` and hit [the first case](https://github.com/lemire/simdjson/b

[2019-03-27 16:14] Licenser commented on #131
To be clear I the parsed (failing) document would be the character '0'  not a null byte.

[2019-03-27 18:18] lemire commented on #131
@Licenser That's fine. I just wanted to clarify the bug report. I now understand it, I think.

Thanks.

[2019-03-27 21:04] pra-bhu commented on #121
Hi @lemire
Sure, would love to work on it. Matter of the fact is that it's gonna be much more productive if I do it for the entire Java community.
So can you suggest exactly what are you expecting to be done? A little more explanation about your requirements would really help me to create a Java wrapper for simdjson.
I'll be happy to help.

[2019-03-27 21:37] lemire commented on #121
@TkTech : can you share your thoughts? You are working on a couple of simdjson wrappers...?

[2019-03-28 06:31] Licenser commented on #100
FWIW I’ve a almost working port of simdjson to rust (not a binding)

[2019-03-28 19:40] lemire commented on #100
@Licenser That would be insanely great.

Note that a complete port does not remove the need for a wrapper. If you want to make perf. comparisons, a wrapper is great.

[2019-03-28 19:43] Licenser commented on #100
ah sorry, I didn't mean to suggest that; those are complementary and I'd expect them to have different use cases :)

[2019-03-28 19:57] lemire commented on #100
@Licenser  Don't apologize, I was merely setting the context.

[2019-03-29 19:35] michaeleisel commented on #31
+1, would be very helpful for improving speed when creating custom objects from json

[2019-03-29 20:53] lemire commented on #20
Now, that's a real programmer. (Today is March 29.)

[2019-03-29 20:56] lemire commented on #131
I'm going to intentionally delay fixing this because @geofflangdale is doing so engineering that might conflict with such a fix.

[2019-03-29 23:45] lemire commented on #130
Closing because of https://github.com/lemire/simdjson/pull/132

cc @geofflangdale

[2019-03-29 23:45] #130 closed

[2019-03-30 04:54] geofflangdale commented on #20
There is code to do a preliminary version of ARM NEON. It does not yet have a proper build setup - to build, you will need to put `-march=armv8.2-a+crypto` into the build system. There may be other problems.

The ARM code does not yet validate UTF-8, but it does parse strings and numbers (without any fast number handling).

[2019-03-30 12:00] Licenser commented on #131
I have no hurry with it :), just wanted to report it before I forgot

[2019-03-30 23:08] quinnj opened #133 "Question on use of _mm256_shuffle_epi8"
First of all, huge thanks and kudos for an awesome repo + white paper going into details. This is a technique I've been interested in since hearing about the Mison paper and I've had a ton of fun diving into your code here.

In your paper (https://arxiv.org/pdf/1902.08318.pdf), you mention:

Just wondering why you decided to do individual comparisons for the `\` and `"` characters, as opposed to i

[2019-04-01 00:33] lemire commented on #133
The shuffle instruction is itself dirt cheap... The question is good though... We could do it differently... but there would not be any benefit since we need a mask for each of these characters.

Leaving open since we need to answer this well.

[2019-04-05 17:45] Licenser opened #135 "optimize short string parsing"
I found that many strings (especially object keys!) do not require the full parsing usage logic strings and short circuting on that case can save some copying

an example (in rust): https://github.com/Licenser/simdjson-rs/blob/master/src/lib.rs#L499

[2019-04-05 19:06] lemire commented on #135
What is your heuristic?

Do you differentiate between object keys and other strings?

I can read Rust just fine, but what is your intuition as to why a special code path is faster in such cases?

cc @geofflangdale

[2019-04-05 19:08] Licenser commented on #135
The most win I got by calling `parse_str_` just on object keys but adding "if this is a string, is the next structural less then 32 characters away" works well for other short stings given we already know the offset of the next structural this is fairly cheap

[2019-04-05 19:09] lemire commented on #135
@geofflangdale please have a look at @Licenser 's last comment. I think it is a neat insight.

[2019-04-05 20:10] Licenser opened #136 "re-wrire flatten_bits to reduce number of memory writes"
The original implementation of `flatten_bits` writes to the `structural_indexes` for each of the (possibly) 64 indexes it found. When profiling this in rust that caused a high number of writes to memory - it might be that c++ optimizes this better but the function can be re-written using a single `_mm256_storeu_si256` operation for each iteration of 8 indexes reducing writes by 1/8th.

Code(again

[2019-04-05 20:37] lemire commented on #136
@Licenser

I doubt that any of this is language specific. There might be differences in

What is your expectation of how this line gets implemented?

[code]

In a credible interpretation of this code, you have 8 registers that you must combine into one wide register. Maybe we can agree that it is unlikely to become one instruction (indeed, there are no 9-parameter instruction on x64).

Well... I d

[2019-04-05 20:48] Licenser commented on #136
I had the hope that it'd translate to 8 registers getting converted into a single register, I looked at the assembly but honestly, am not entirely sure what it does.

[code]

When I got to this is that when I profiled the original code about ~3.5% of the time was spent in writing to memory (again rust might be more expensive here due to range checks being performed).

That said, I didn't see much

[2019-04-05 21:18] geofflangdale commented on #136
Not a bad idea, at all! We could make this go faster by replacing those 8 add instructions with a single SIMD add, too.

[2019-04-05 21:18] Licenser commented on #136
Adding some (local) benchmarks:

Going back to the (rust addopted) naive implementation drops throughput between 7.5% and 14%:
[code]

That said the implementation of `flatten_bits` was adopted to be more rusty:

https://github.com/Licenser/simdjson-rs/blob/5dd0db87278c23db7fa3ae4b7a79923f4359cec5/src/stage1.rs#L253

[2019-04-05 21:27] Licenser commented on #136
Oh that's a good idea! I'll give that a try! :D

[2019-04-05 21:45] Licenser commented on #136
I gave the vectorized add a go: https://github.com/Licenser/simdjson-rs/commit/51839ba4b48ec346b9df753a15421e4bec606e40 looks quite nice nearly 6% more throughput on the best case!

[2019-04-07 09:45] Licenser opened #137 "Explain better possible read of un-owned memory in is_valid_*_atom"
In the state machine on level 0, if a atom (ture,false,null) is found it copies the source string to a new buffer of at least 32 bytes of size - as far as I understand to ensure that the `is_valid_*_atom` functions won't try to read memory that doesn't belong to us.

This check is skipped for nested atoms, however it seems that they too could run into the situation of reading beyond their space.

[2019-04-08 14:21] lemire commented on #137
@Licenser

As per the code you point out to, the memcpy is done for the following reason...

[code]
https://github.com/lemire/simdjson/blob/master/src/stage2_build_tape.cpp#L194

I am not sure what you mean by "unowned memory". The code ensures that we can read at least SIMDJSON_PADDING bytes above the advertised length of the buffer (doing a memory reallocation if needed)...

https://github.com/l

[2019-04-08 14:21] lemire commented on #137
Note to self: this should be documented more carefully.

[2019-04-08 19:09] Licenser commented on #137
Oh, I didn't see the relocation in the JSON parser :) I just stumbled over this with the rust range checking. Thanks for taking the time of explaining why it is safe!

[2019-04-08 20:29] lemire commented on #137
I am re-opening this since I think it needs to get documented.

Note that the same 'trick' can work in Rust. In the worst case, you may need to memcpy the input data. But even if you need to do that... the cost of a copy + mem. alloc. is really not that bad. Of course, you increase memory usage which is bad... but computationally, it is not that bad.

[2019-04-08 20:32] Licenser commented on #137
👍 I went for "closed as it answered my question" it's easier to re-open then to have a ticket open forever that no one knows when to close :D

[2019-04-10 22:57] klon commented on #95
Maybe support for JSON Pointer would be a nice start (https://tools.ietf.org/html/rfc6901)

[2019-04-10 23:12] lemire commented on #95
@klon Cookies for you!!! Yes... yes...

[2019-04-11 13:13] jpike88 commented on #128
Why on earth would anyone generate JSON files that exceed 20/50/100mb, let alone 4GB? What DB is that, and why do you have to do it this way? This sounds more like a design issue to me.

[2019-04-16 08:29] crazyxman opened #140 "simdjson_php request to join"
Can simdjson_php be added to your README.md?, or what are the requirements?
simdjson_php:https://github.com/crazyxman/simdjson_php

[2019-04-16 12:36] lemire commented on #140
Yes! Let us update the README.

[2019-04-16 14:25] lemire commented on #140
Added as of the last commit.

[2019-04-16 14:25] #140 closed

[2019-04-17 02:14] crazyxman commented on #140
@lemire  thank you : )

[2019-04-19 09:14] cdluminate commented on #34
@ScrambledAuroras Maybe you want to try QEMU, emulating a baseline CPU which doesn't support AVX2: `qemu-x86_64 -cpu qemu64 /usr/bin/some_program`

[2019-04-19 15:02] erg commented on #34
I'm reading your paper, very cool!

I tried to run it on my MacBook Pro (Retina, 13-inch, Late 2012) and it fails with:

[code]

After trying the assert line from above, I get this:

[code]

[code]

[code]

I also tested on Arch Linux with avx2 with g++ and it compiles and works.
[code]

Hope this helps.

[2019-04-19 16:04] lemire commented on #34
@erg

Great comment.

Yes, I would not expect a machine from 2012 to support AVX2.

[2019-04-19 18:59] TkTech commented on #34
@ScrambledAuroras @cdluminate use the Intel SDE to emulate past, current, and unreleased cpu features for a single binary. https://software.intel.com/en-us/articles/intel-software-development-emulator

[2019-04-19 20:19] michaeleisel opened #144 "iOS support"
I want to build this library for an iOS app. Ordinarily I would use `./configure --host=aarch64-apple-ios --target=aarch64-apple-ios` to configure things running `make`, but in this case there doesn't appear to be a configure script. What should I do?

[2019-04-19 20:35] michaeleisel commented on #31
I'd be happy to contribute to this. What would be the best way to do it? For example, it could use templating with `write_tape` to decide if it should write to a tape (DOM) or call a callback function (streaming)?

[2019-04-20 00:03] lemire commented on #144
There is a single-header version that should work for you, so no need for complicated instructions.

However, the ARM port is still in progress once we are happy with it, we will have to provide instructions... but they will be simple enough. A Swift wrapper would be easy.

cc @geofflangdale

[2019-04-20 15:22] michaeleisel commented on #144
Nice, i've written a library that replaces `JSONSerialization` (the swift library for turning json into the basic swift data structures like dictionaries) and plan to replace `Codable` and `Decodable` (the swift library for turning json into objects). its built on top of RapidJSON currently, but i'll replace it with simdjson when it's ready

[2019-04-20 15:23] michaeleisel commented on #144
by codable and decodable i just mean, JSONEncoder and JSONDecoder

[2019-04-20 15:49] lemire commented on #31
I think it would involve making it so that our stage 2 calls custom functions instead of the ones that build the tape. It probably won't work "as is". I think that the easiest thing would be to make "practical" for people to build their own custom stage 2.

[2019-04-21 14:05] Skyprophet opened #145 "Bug in the copy constructor of iterator"
https://github.com/lemire/simdjson/blob/49332d3e907971a1927468ecc4a76673b0d718c8/src/parsedjsoniterator.cpp#L37

This line should be:

    memcpy(depthindex, o.depthindex, pj.depthcapacity * sizeof(depthindex[0]));

Or it is violating `o` being constant. Semantically, I believe the copy target should be the newly constructed iterator.

[2019-04-21 14:06] lemire commented on #145
You are, of course, correct.

[2019-04-21 14:08] Skyprophet commented on #145
Should I submit a PR or it is easier to just fix it on your side?

[2019-04-21 14:09] lemire commented on #145
The benefit of a PR is that you get credit for the fix in the logs. A PR is invited.

However, if you do not issue a PR, we will fix the bug otherwise.

[2019-04-23 22:51] #145 closed

[2019-04-26 16:15] lemire opened #147 "Benchmark with dbSNP"
NIH makes available large (very large) JSON files.

ftp://ftp.ncbi.nih.gov/snp/latest_release/JSON/JSON_README.txt

These files span several gigabytes and may therefore require some care.

[2019-04-28 21:23] technateNG opened #148 "SEGFAULT in parse_string"
There is a bug in parse_string function which results segfault.
You can trigger error by providing input which contains non closed quotes.
For example:
- "[
- {"1": 1, ":2}

Bug exists because if you don't have closing quote inside 32 byte range, function adds additional 32 bytes without checking length of input string. When you don't provide closing quote in whole input, function loops to segment

[2019-04-28 21:50] lemire commented on #148
This sounds credible. I see you have a PR already!

[2019-04-30 15:37] Anders-E opened #150 "Heap Corruption error on several inputs"
While experimenting with fuzzing, me and @EmilGedda discovered a bunch of inputs to simdjson that result in heap corruption errors.

Here's an archive of inputs discovered complete with the gcc AddressSanitizer logs for each crash: [simdjson_heap_corruption.zip](https://github.com/lemire/simdjson/files/3131968/simdjson_heap_corruption.zip)

We've also ran many of these inputs through `amalgamation

[2019-04-30 16:11] lemire commented on #150
Great stuff! Thank you!

We shall fix those in an upcoming release.

Later this summer, we shall have systematic and thorough fuzz testing in place.

[2019-04-30 16:16] Anders-E commented on #150
Glad to hear it! I hope some of this data can be of help to you.

[2019-04-30 16:22] lemire commented on #150
Yes. I believe so.

[2019-05-07 14:03] lemire opened #152 "In ARM version, revisit the bitset decoding routine"
See comments on this post...

https://lemire.me/blog/2019/05/03/really-fast-bitset-decoding-for-average-densities/

[2019-05-07 20:02] lemire commented on #32
Possibly we could use `std::unique_ptr<char, decltype(&free)>` instead.

[2019-05-08 05:38] Skyprophet opened #154 "Acccess Violation with reproducible test case based on std::string"
Build environment:
- Windows 10 1803
- Visual Studio Community 2019 16.0.3
- CMake 3.14.2
- Intel Core i7 7700K, 64GB RAM

Problematic code:

    #include <cassert>
    #include <vector>
    #include <string>

    #include "simdjson/jsonparser.h"

    int main(int argc, char *argv[]) {
      const size_t n_records = 1000000;
      std::vector<std::string> data;
      char buf[1024];
      for (siz

[2019-05-08 19:37] lemire commented on #154
Ah. Ah. Something appears fishy. I think that this might be a genuine bug.

[2019-05-08 19:38] lemire commented on #154
Note: I do not expect that this is related to Windows at all. I will retitle accordingly.

[2019-05-08 19:38] lemire commented on #154
Flagging as a bug.

[2019-05-08 20:55] Licenser opened #155 "possible bug in is_valid_false_atom"
The `is_valid_false_atom` assigns the result of the check to a 32 bit value and cheks if it's 0;

`false` has 5 characters so the check only covers if it's a valid `fals` atom, for example `falsy` would also pass the check in question.

[2019-05-08 21:22] lemire commented on #155
Thanks. I will work on this.

[2019-05-08 21:24] Licenser commented on #155
FWIW: I found that using a 64 bit error value instead of a 32 bit one solves the issue. but I'm not sure about the negative impact on the performance of that.

[2019-05-09 02:34] lemire commented on #154
Your test is now part of our unit tests. Should be fine. Reopen if the problem persist.

(Note that I have not yet issued a release or updated the single-header version. If you need that, let me know.)

[2019-05-09 02:34] #154 closed

[2019-05-09 15:14] lemire commented on #155
I have not measured it, because I expect that there won't be any impact. It is going to be the same number of instructions (I expect).

Anyhow, if you have a document where parsing "false" atoms is the bottleneck... it is going to be a fun document.

[2019-05-09 15:14] lemire commented on #155
Let us close this.

[2019-05-09 15:14] #155 closed

[2019-05-09 16:05] #148 closed

[2019-05-09 16:16] lemire commented on #137
This is fixed with better comments and static_asserts in a branch about to be merged.

[2019-05-09 16:16] #137 closed

[2019-05-09 16:17] lemire commented on #131
Fixed and verified in a branch about to be merged.

[2019-05-09 16:17] #131 closed

[2019-05-09 16:21] lemire commented on #100
Assigned to @ioioioio.

[2019-05-09 16:22] lemire commented on #43
@Assigned to @ioioioio.

[2019-05-09 17:06] lemire commented on #155
The new code might actually be faster...

https://godbolt.org/z/ORcNo5

I'll do a performance comparison later but I am confident that there won't be a regression and there might be a small gain. In any case, it is bug fix so it is not like we can have a choice. We can't leave the old code.

[2019-05-09 18:01] lemire commented on #50
In a branch about to be merged, we got rid of "using namespace std".

[2019-05-09 18:01] #50 closed

[2019-05-09 18:59] Licenser opened #158 "Inline some of the stage2 FSM"
While implementing the stage2 FSM logic in rust I found that inlining some stages via macros worked well and improved the performance.

Rust has no goto so it probably has a bit more effect there but it might also save come jump instructions in c++.

I did inline the following stages:
* object_begin
* object_continue
* array_begin
* array_continue

Would it be worth investigating the same approach

[2019-05-09 19:00] lemire commented on #158
Can you elaborate on what you mean by 'inlining'?

[2019-05-09 19:03] Licenser commented on #158
Ah yes sure!

I created macros for the states listed, and instead of jumping to the state (or in rust case continuing the state loop) the macro gets called inlining the state where it the jump would otherwise happen.

I'm seeing if I can put together a simple example for array continue (as it's the simplest of the lot).

[2019-05-09 19:09] Licenser commented on #158
reading again over the c-fsm it seems to make less sense you're using break which doesn't do a jump in most cases. I should have checked that before, the only time the macro approach would prevent change the code is in the scope-end cases so it's probably not worth it. I'll close that, sorry for the un-needed ticket.

[2019-05-09 19:09] #158 closed

[2019-05-09 20:11] Licenser commented on #158
To add context even so it doesn't make much differnce this is the change I was thinking about: https://github.com/Licenser/simdjson/commit/5588fa491f52602e84b37dfa1a2bf668bd07149d

[2019-05-09 20:26] lemire commented on #32
Closing. An upcoming merge will introduce a `padded_string`.

[2019-05-09 20:26] #32 closed

[2019-05-09 20:27] lemire commented on #57
Closing. An upcoming merge will introduce a `padded_string`.

[2019-05-09 20:27] #57 closed

[2019-05-09 21:51] lemire commented on #158
It does not sound silly at all to me. I don't know about the exact thing you were thinking about, but it seems that there are certainly scenarios where we could fatten our code to avoid jumps. That's the idea, right?

cc @geofflangdale

[2019-05-09 22:05] Skyprophet opened #160 "MSVC portability: Warning level 3, possible loss of data."
In `portability.h` line 22 and line 26.

    static inline int trailingzeroes(uint64_t input_num) {
        return _tzcnt_u64(input_num);
    }

    static inline int leadingzeroes(uint64_t  input_num) {
        return _lzcnt_u64(input_num);
    }

When compiling with MSVC warning level 3, it will report conversion from `__int64` to `int`, possible loss of data.

I would suggest to add an explicit

[2019-05-09 22:07] lemire commented on #160
Can you propose a PR?

Note: these functions generate a number between 0 and 64 so the "loss" of data warning is almost surely bogus.

[2019-05-09 22:07] Skyprophet commented on #160
Doing it now.

[2019-05-09 22:09] lemire commented on #160
Well, I am fond of explicit casts.

[2019-05-10 00:53] lemire commented on #150
Fix is in: https://github.com/lemire/simdjson/commit/f75280ac9c892406e6354ef516f7c9765d10f5ab

Your examples were helpful. They allow me to identify two real problems. It is likely that there were more, but I did some more fixing earlier.

We now test systematically over your examples.

[2019-05-10 00:53] #150 closed

[2019-05-10 00:56] lemire commented on #160
Closing thanks to your PR.

[2019-05-10 00:56] #160 closed

[2019-05-10 01:20] #99 closed

[2019-05-10 01:31] lemire commented on #154
I have issued a new release. Please test it out.

[2019-05-10 19:33] Anders-E commented on #150
Great to hear!

[2019-05-10 20:53] Skyprophet opened #164 "CMake Policy Conflict"
In the new `CMakeLists.txt`, CMP0069 is enabled which follows the cmake policy after version 3.9. However, in `FindCPack.cmake`, all the target will be pull down to cmake policy version 3.0.0.

When use `simdjson` in a subproject, it will pop up tons of warning like below:

    CMake Warning (dev) at third_party/simdjson/tools/cmake/FindCTargets.cmake:7 (add_executable):
      Policy CMP0069 is no

[2019-05-10 20:54] lemire commented on #164
Want to issue a  PR? (This way you get credit for the fix.)

[2019-05-10 21:52] lemire commented on #164
Closing.

[2019-05-10 21:52] #164 closed

[2019-05-14 09:40] crazyxman opened #167 "Handle "large integers""
The following json parsing failed because of the number "38793000000000000001". Can I give an option when parsing? Convert to a string when parsing an integer overflow.
{
        "Image": {
            "Width":  800,
            "Height": 600,
            "Title":  "View from 15th Floor",
            "Thumbnail": {
                "Url":    "http://www.example.com/image/481989943",

[2019-05-14 12:58] crazyxman commented on #167
Thank you. Maybe it's wrong to do so.
This idea comes from the fourth parameter of the PHP function json_decode() when options=JSON_BIGINT_AS_STRING
Https://www.php.net/manual/en/function.json-decode.php

[2019-05-14 13:01] lemire commented on #167
I am reopening because I don't think this is "wrong".

[2019-05-14 13:02] lemire commented on #167
Of course, it would help to have a good motivation for this problem.

[2019-05-14 13:18] plokhotnyuk commented on #167
It can be decimal128 numbers with up to 34-digit mantissas, bank account numbers or IDs in decimal representation, etc.

Packing them to string is one of safest options. [Some implementations](https://github.com/json4s/json4s/issues/554) that just parse input to a big number can be vulnerable on a malicious input.

[2019-05-14 13:56] lemire commented on #167
Yes. I would still like to have them flagged as "bigint" or something and not stored as strings per se.

So we could have a type "bigint" that actually returns a string when you query the value. It would be up to the user to figure out what do with the string.

[2019-05-16 19:02] #92 closed

[2019-05-19 16:35] lemire commented on #58
The fix is in for the parsing. A single "memset" does the trick to initialize the padding to zero.

Further valgrind errors will be treated as bug reports.

[2019-05-19 16:35] #58 closed

[2019-05-20 18:22] alexey-milovidov opened #169 "simdjson uses MMX but doesn't clear x87 state"
[code]

This lead to errors in any subsequent usage of `long double` type.
Explanation: https://github.com/yandex/ClickHouse/blob/master/dbms/src/Compression/LZ4_decompress_faster.cpp#L78

[code]

[2019-05-20 18:30] alexey-milovidov commented on #169
Solution 1: simply remove MMX code (see the attached PR).
Solution 2: issue `_mm_empty()` call after parsing.

[2019-05-20 18:34] lemire commented on #169
Fascinating.

[2019-05-20 18:43] lemire commented on #169
Issue fixed by PR (which removes offending code).

Performance impact is negligible. Alexey Milovidov will be added to our list of contributors.

[2019-05-20 18:43] #169 closed

[2019-05-20 18:56] lemire opened #171 "Build a multithreaded version (for very large documents)"
@Somefive and others have begun work on such a project...
https://github.com/Somefive/MercuryJson

[2019-05-22 21:22] lemire opened #174 "do away with padding"
The padded string approach simplifies the code logic somewhat. However, it is not genuinely required. In time, it should be removed.

[2019-05-23 17:20] Skyprophet opened #175 "Add a pointer based interface to facilitate field access."
Right now, simdjson only supports an iterator based interface to navigate through parsed document. It would be nice to have an interface that supports pointer like interface.

An example is from [Rapidjson](http://rapidjson.org/md_doc_pointer.html).

Personally, I think it is more natural to have the query look like:
- `a.b.c`
- `a[0].c`
- `b.*.a`
- `b[*].c`

I would argue having such an interface

[2019-05-23 19:07] lemire commented on #175
I agree.

We will need help to make progress on this front.

[2019-05-23 19:12] lemire commented on #175
Marked as help wanted.

[2019-05-24 18:45] richardstartin commented on #121
Is anyone working on this?

[2019-05-24 19:31] lemire commented on #121
@richardstartin Not to my knowledge. All I could find was this empty repo:

https://github.com/laingke/simdjson-java

I am working with @ioioioio who is busy on the Rust wrapper...

[2019-05-24 21:25] lemire commented on #55
We have specific error codes and more have been added in this PR
https://github.com/lemire/simdjson/pull/176

Furthermore we could easily (as is now documented in the code) report on exactly where things went wrong *without* any cost (no slowdown). That's because, when a problem is detected, and only when a problem is detected, we go to a 'fail' label where the current state is still known.

[2019-05-25 00:31] lemire opened #177 "Add optimization for large files (far exceeding a page)"
Currently, on very large files, a sizeable fraction of the time is spent on page walking. This is almost entirely avoidable, even if we add strategic "prefetching" instructions.

Meanwhile, users who have to process multi-gigabyte files should use huge pages to get > 1GB/s speeds.

The model with stage1/stage2 may become inefficient for large files, we want to use a smaller stage 1 over a window.

[2019-05-25 14:05] XLPE opened #178 "possible bug:unsupport uint64 value"
passed
{"rsslim":9223372036854775807}

invalid:
{"rsslim":9223372036854775808}

[2019-05-25 14:53] lemire commented on #178
Not a bug, we do not support unsigned 64-bit ints currently:

https://github.com/lemire/simdjson/issues/68

Quoting from the README:

As stated in issue 68, it is reasonable to support unsigned 64-bit integers. I think we will do so in a future release.

Note that they are *not* supported in Java and JavaScript.

So, understandably, the JSON specification allows us to put limits on the kind of num

[2019-05-25 14:53] lemire commented on #178
Closing. Reopen if I misunderstood.

[2019-05-25 14:53] #178 closed

[2019-05-26 15:34] richardstartin commented on #121
@lemire I don't see anything in "stage 2" (unified_machine) which can't be done as well in Java as it can natively, whereas stage 1 (build_tape), as far as I can tell, is the brilliant part that couldn't be written in Java. I think it might make sense to wrap stage 1 with JNI, but port stage 2 to Java. Do you have any reservations about this approach?

[2019-05-26 16:00] lemire commented on #121
@richardstartin

One concern regarding Java is the fact that it relies on UTF-16. Actual JSON content on the net is UTF-8. So there is a UTF-8 to UTF-16 bridge needed somewhere. (My understanding is that Swift started out UTF-16 but they have migrated to UTF-8.) That's not a big problem, of course.

It evidently can be written in Rust, as @Licenser showed. In Java, I would think not...

Note that

[2019-05-26 16:09] lemire commented on #121
@richardstartin But, yes, completing stage 1 and getting, in Java, an index into the document, with UTF-8 validation done, would be nice.

[2019-05-26 18:44] plokhotnyuk opened #179 "Parsed double values can contain error in last bits"
As example 7e23 (0x44e287626ee52197 in raw binary representation) parsed as 6.999999999999999E23 (0x44e287626ee52198 in raw binary representation).

Can it be documented if no other option to parse precisely?

[2019-05-26 19:19] lemire commented on #179
Have you looked at this issue?

https://github.com/lemire/simdjson/issues/71

What you report is a real issue, but I think it is a duplicate.

[2019-05-26 19:25] #179 closed

[2019-05-28 22:32] lemire opened #180 "Ensure that CMake build follows best guidelines"
cc @aytekinar

[2019-05-28 22:36] aytekinar commented on #180
I will have a look at this at the weekend.

[2019-05-28 22:54] lemire commented on #180
:-)

[2019-05-29 14:36] lemire commented on #77
@cdluminate How is this going?

[2019-05-29 15:15] cdluminate commented on #77
https://tracker.debian.org/pkg/simdjson already available for debian unstable. Too late for debian buster. Thanks for reminding me of the remaining issue. Closing now.

[2019-05-29 15:15] #77 closed

[2019-05-29 15:17] lemire commented on #77
@cdluminate At some point in the future when we produce a stable version (say much later this summer), how do we push it upstream? Do we ping you?

[2019-05-29 15:17] cdluminate commented on #77
debian sid/unstable users can install simdjson with "apt install libsimdjson-dev".

[2019-05-29 15:18] cdluminate commented on #77
@lemire feel free to ping me for anything related to Debian.

[2019-05-29 15:19] cdluminate commented on #77
I'm watching the releases of this project. No need to manually ping me for new releases.

[2019-05-29 15:32] lemire commented on #77
That's great.

[2019-06-03 13:16] lemire commented on #147
These files, though labelled as "JSON" are actually lists of JSON entries.

[2019-06-04 15:02] ioioioio opened #182 "Bug in number parsing"
Simdjson crashes when the number of digits after the dot minus the exponent is lower than -308.

Exemples:
1.0e-308
0.1e-308
0.01e-307

[2019-06-04 19:57] lemire commented on #182
@ioioioio

Thank you.

[2019-06-05 15:23] lemire commented on #182
Verified. The bug is real.

[2019-06-05 21:30] lemire commented on #182
Fixed in https://github.com/lemire/simdjson/pull/183

[2019-06-05 22:51] lemire commented on #182
Closing.

[2019-06-05 22:51] #182 closed

[2019-06-06 02:02] lemire opened #184 "add small string type"
Lots of strings (especially keys) fit in 15 characters, so two 64-word could be used to represent a short string.

[2019-06-06 02:06] lemire opened #185 "For long strings, move the string size on the tape"
Currently, the string size is on the string buffer/tape. We could move it back on the main tape. Then the string buffer would be just a continuous stream on strings, and we could move UTF8 validation off stage 1 and into a stage 3 that would run over the string buffer.

[2019-06-06 02:12] lemire commented on #55
Leaving this open because I think we can do better without performance penalty.

[2019-06-06 23:15] lemire opened #186 "Update the minifier so that it uses thin tables"
The current minifier uses a large table. We can trim the fact massively. Though the result won't be faster, it will use far less cache.

[2019-06-07 21:47] ioioioio opened #187 "Crash parsing numbers with e0, 19 digits and no dot."
Simdjson crashes when the exponent is 0, the number of digits is higher or equal to 19, and there is no dot.
Examples:
1000000000000000000e0
1000000000000000000e-0
Interestingly, the current single header version only gave a TAPE_ERROR.

However, these do not crash and give the correct results:
1000000000000000000.0e0
1000000000000000000e10

Rapidjson correctly gives 1e+18 for 1000000000000000000e

[2019-06-07 21:52] lemire commented on #187
Thank you!

[2019-06-10 19:03] nichtich commented on #128
One real-world use case is [Wikidata dumps](https://www.wikidata.org/wiki/Wikidata:Database_download#JSON_dumps_(recommended)) with 36 GB gzipped. Each dump is one large JSON array that happens to contain one array member per line, so existing tools break up the array before parsing. In the end this data is used similar newline delimited JSON.

[2019-06-10 19:26] nichtich opened #188 "Support parsing newline delimited JSON (ndjson) + streams of JSON documents"
Utility function `get_corpus` reads the entire file which does not work for very large JSON data sets. These data sets are often handled in form of newline delimited JSON (ndjson). An utility function or code example would be nice to loop over lines of a `.ndjson` file and parse each line.  My rusted knowledge of C++ and memory management is not enough to judge whether simply using `getline` is th

[2019-06-10 19:38] lemire commented on #188
This is intriguing. Very nice issue. I doubt that `getline` is the proper API for us... but it is worth exploring.

[2019-06-10 19:39] lemire commented on #128
@nichtich  Nice example.

[2019-06-12 20:33] lemire commented on #187
Fixed with recent commit.

Please keep finding new bugs.

[2019-06-12 20:33] #187 closed

[2019-06-18 16:23] craiig commented on #188
Hi, just wanted to add to this issue. I'd like to use SIMDJSON for some data processing research, but parsing multi-line json is a requirement. My use case is parsing a stream of JSON records of unknown length (but buffered up to a reasonable size, like 8KB).

One simple solution we have for now is just scanning for a newline before passing the string and the length to the json parser. This is pro

[2019-06-18 20:10] lemire commented on #188
I wrote a blog post to illustrate why going through getline does not make sense in my opinion: [How fast is getline in C++?](https://lemire.me/blog/2019/06/18/how-fast-is-getline-in-c/)

[2019-06-18 20:15] lemire commented on #188
@craiig

Am I correct in thinking that your application involves multiple JSON documents, one per line? Like ndjson. Right?

For something of the sort, you are absolutely correct, in my opinion, that you want support *in* the parser.

[2019-06-18 20:18] craiig commented on #188
Yep, that's correct it's the ndjson spec (http://ndjson.org/) . This would be a fantastic improvement and make SIMDJSON very relevant for lots of use cases!

[2019-06-18 20:25] lemire commented on #188
Right. Let us make it happen.

[2019-06-18 20:26] lemire commented on #188
I have marked this as "help wanted". If anyone is interested in working on this problem, please speak up. I am interested but I may not get to it in the very near future.

[2019-06-18 21:17] nichtich commented on #188
[jq](https://stedolan.github.io/jq/) reads concatenated JSON documents optionally separated by whitespace (e.g. two documents "`{"foo":23} {"bar":42}`). Actually we don't need to parse *lines* but

* stop parsing after having read a full valid JSON document (`{"foo":23}`) with a pointer where to proceed, and
* pause parsing when the end of a input is reached with an incomplete JSON document (e.g.

[2019-06-18 21:22] lemire commented on #188
@nichtich For best speeds, you almost surely do not want to parse in small chunks like so. It is going to be very hard to be fast if you process 80 characters at a time.

[2019-06-19 20:15] lemire commented on #133
Version 3 of the paper (https://arxiv.org/abs/1902.08318v3) solves this issue: we document the performance differential, see appendix B.

Closing. Reopen if the revised manuscript does not answer your question.

[2019-06-19 20:15] #133 closed

[2019-06-19 20:46] lemire commented on #20
I fixed '-march=armv8.2-a+crypto' so that we can get a straight compile with "make".

[2019-06-19 20:48] lemire commented on #20
We need to (1) add the UTF-8 validation (2) run our tests (make test) and have them actually pass...

Once this is done, we'll be able to assess the performance.

[2019-06-19 20:48] lemire commented on #20
ping @ioioioio : please have a look at this issue.

[2019-06-19 21:13] ioioioio opened #193 "Undetected error for null character in middle of number."
simdjson fails to detect an error when a null character is in the middle of a number.

Example:
char json[] = "111";
json[1] = 0;

[2019-06-19 21:20] lemire commented on #193
Thank you.

[2019-06-19 21:25] ioioioio commented on #193
well... actually it is also undetected at the end of a number.

[2019-06-20 22:50] lemire commented on #193
Issue fixed. Please retest and validate. Reopen if the issue remains.

[2019-06-20 22:50] #193 closed

[2019-06-24 21:08] lemire commented on #20
@ioioioio : can you try to complete the NEON port and see whether we can pass our tests?

[2019-06-24 21:17] lemire opened #195 "Support SSE (non-AVX) intel processors"
See https://github.com/lemire/simdjson/pull/139

[2019-07-01 15:01] lemire opened #199 "Add support for SwiftPM"
We should be able to build this project with the SwiftPM in addition to CMake.

[2019-07-03 21:43] lemire opened #203 "Update README documentation to account for the new namespace"
Thanks to a PR by @ioioioio @lcdavid94, it looks like we are now under a C++ namespace. Yet the documentation (README) has not yet been updated.

https://github.com/lemire/simdjson/issues/59

[2019-07-03 21:46] lemire opened #204 "SIMDJSON_PADDING needs to be updated according to the SIMD instructions set and implementation"
This (minor) issue arises out of https://github.com/lemire/simdjson/pull/202

I consider that it is *not* a priority since padding may go away in the future in any case.

[2019-07-03 21:49] lemire opened #205 "Verify SSE version as part of CI tests using emulator"
This PR https://github.com/lemire/simdjson/pull/202 introduces support of the SSE instruction set (for older hardware lacking AVX2). To make sure it runs correctly, we need to either test on older hardware or use an emulator approach (e.g., qemu). Or something else (like `-mno-avx`).

[2019-07-03 21:50] lemire commented on #203
@ioioioio Do you want to handle this one?

[2019-07-03 22:35] ioioioio commented on #203
sure

[2019-07-04 15:50] lemire commented on #203
Closed by @ioioioio's PR.

[2019-07-04 15:50] #203 closed

[2019-07-05 16:45] lemire commented on #195
Closed by @ioioioio  via a PR.

[2019-07-05 16:45] #195 closed

[2019-07-07 09:49] ppamorim commented on #144
@michaeleisel Please share it with us. :)

[2019-07-07 12:20] lemire commented on #144
Note that we have ARM NEON support working now in a branch (passing all tests) so it should be possible, soon, to deploy on Apple's ARM processors... and thus ios. Producing a Swift wrapper and support SwiftPM should be relatively easy.

[2019-07-08 13:40] ppamorim commented on #144
@lemire Any plans to migrate to Android (specially Kotlin)?

[2019-07-08 15:56] #59 closed

[2019-07-08 17:28] lemire commented on #144
@ppamorim Android won't be a problem... Kotlin might be.

[2019-07-09 11:41] ppamorim commented on #144
Well, Kotlin supports C++ like Java does when compiling for JVM. Would you recommend to create an Java base version and a Kotlin version afterwards or create a specific version for each version? Mind that Kotlin compiles to native too, so I think the second alternative is better.

[2019-07-09 14:26] lemire commented on #144
@ppamorim I realize that if you have Java wrappers, then kotlin is easy... but that's an open issue right now...
https://github.com/lemire/simdjson/issues/121

I am not personally very familiar with Kotlin (beyond the syntax). Would you be willing to help at least document the issue of Kotlin/simdjson? We can create a new issue and discuss it there.

[2019-07-09 14:57] ppamorim commented on #144
@lemire Yes that's perfect. But let's wait the merge of the ARM NEON support and implement the basics of the Swift version so I can use it as base for the Java/Kotlin implementation.

[2019-07-09 19:15] lemire commented on #20
Done thanks to @geofflangdale and @ioioioio

[2019-07-09 19:15] #20 closed

[2019-07-09 22:48] lemire commented on #144
We do have NEON now, and it works under ios.

[2019-07-10 00:10] lemire opened #212 "benchmark the range approach to utf-8 validation"
Consider switching to the approach preconised by Yibo Cai.

[2019-07-10 01:08] lemire commented on #144
@michaeleisel

Here is an app demo that runs under ios...

https://github.com/lemire/iossimdjson

Here is a blog post about the results...
https://lemire.me/blog/2019/07/10/parsing-json-using-simd-instructions-on-the-apple-a12-processor/

[2019-07-10 01:08] lemire commented on #20
Blog post with some numbers:

https://lemire.me/blog/2019/07/10/parsing-json-using-simd-instructions-on-the-apple-a12-processor/

[2019-07-10 01:29] michaeleisel commented on #144
Very nice! I will say that the phones that can use the most modern instructions are also the ones least in need of performance improvements. The big targets are the slowest phones that still have decent market reach. My finger isn’t quite on the pulse these days but I’d imagine it’s the iPhone 7 and 8. Of course, year over year things change quickly, and A12 phones will soon be “slow”. And it will

[2019-07-10 02:07] michaeleisel commented on #144
To be clear, I don’t know what instructions are being used, I just assumed they include some of the more recent vector instructions

[2019-07-10 12:17] lemire commented on #144
@michaeleisel We use 64-bit ARM (aarch64). It is commonplace if not universal at this point. It should run fine on the iPhone 7 and even much older phones.

Performance is another matter. There is really little sense in running something like simdjson on old hardware. The point of simdjson is to show that we can make better use of the power of modern chips via SIMD instructions, superscalarity and

[2019-07-10 15:03] ppamorim commented on #144
I am working in a wrapper in objc compatible with Swift :D

[2019-07-10 17:01] lcdavid94 commented on #188
ndjson requires each json document to be in one line. Is it possible to support a more general case where a file includes multiple json documents, and each document can take up multiple lines? Something like:
[code]

[2019-07-10 17:33] nichtich commented on #188
Yes, this use case is a special case of parsing a sequence of optional whitespace delimited JSON documents (like supported by `jq`).

[2019-07-10 20:06] lemire commented on #188
@lcdavid94 @nichtich  It is likely more work having to separate out the lines. Implementing the more general model is probably easier and would lead to a faster parser.

[2019-07-11 04:48] luizperes opened #215 "singleheader/simdjson.cpp got removed?"
`singleheader/simdjson.cpp` got removed in the commit https://github.com/lemire/simdjson/commit/977f57fd370c34f75d86f22d6402d780bb958b1c#diff-3c06b7a2177788ae34d76dd4ba6f3759 yesterday and breaks the example `amalgamation_demo.cpp` inside the `singleheader` folder, along with the possibility of using simdjson with a single header and a single implementation file, which is the case for [simdjson_no

[2019-07-11 12:51] lemire commented on #215
Will fix today. No problem. Must have been a mistake.

Can you set your dependency to one of our releases? This would make things more robust on your end.

[2019-07-11 13:41] lemire commented on #215
Fixed just now. I do recommend that you set your dependencies to a release for better stability.

[2019-07-11 13:41] #215 closed

[2019-07-11 14:32] luizperes commented on #215
You’re right, will do it today, thanks!

[2019-07-11 14:33] lemire commented on #215
@luizperes  We are working toward a new release (version 0.2), it will bring many new features... it will run on ARM processors, and so forth.

[2019-07-11 14:36] lemire commented on #144
@michaeleisel Just to contradict myself, I am getting great results on a weak ARM core...

Parsing JSON quickly on tiny chips (ARM Cortex-A72 edition)
https://lemire.me/blog/2019/07/11/parsing-json-quickly-on-tiny-chips-arm-cortex-a72-edition/

[2019-07-11 14:36] lemire commented on #20
Another related blog post (more numbers):

Parsing JSON quickly on tiny chips (ARM Cortex-A72 edition)
https://lemire.me/blog/2019/07/11/parsing-json-quickly-on-tiny-chips-arm-cortex-a72-edition/

[2019-07-11 14:40] michaeleisel commented on #144
Yeah that aligns with what I’ve seen

[2019-07-11 16:25] luizperes commented on #144
This is a very big step! Good job, everyone!

[2019-07-11 23:07] spansh commented on #128
Also things like https://www.edsm.net/en/nightly-dumps I'm currently using the rapidjson incremental parsing mode but am very interested in improving that (That said I am very much at the long tail of improvements).

[2019-07-12 01:05] lemire commented on #128
@spansh

I love the link https://www.edsm.net/en/nightly-dumps

[2019-07-12 21:34] ioioioio commented on #90
I've pushed a branch that does runtime dispatch: [runtime_dispatch](https://github.com/lemire/simdjson/tree/runtime_dispatch). When compiled for AVX and SSE at the same time (this is what the makefiles will do by default), the function parse() (only that one) can properly select the best implementation according to the supported SIMD instruction sets.

However, when compiled for AVX and SSE at the

[2019-07-12 22:13] TkTech commented on #90
Only portable approach is to compile them both separately and then link them back into a single object.

[2019-07-12 23:14] zbjornson commented on #90
@ioioioio try compiling without `-mXXX` flags, but adding `__attribute__ ((__target__ ("XXX")))` to your functions that use advanced extensions. That works for GCC, Clang, ICC. MSVC doesn't need an attribute. See https://godbolt.org/z/jAOsJt for an example.

[2019-07-13 00:03] lemire commented on #90
@zbjornson

That's helpful! You are giving me back hope that we might support runtime dispatching without going blind in the process.

Here is what I think I understand...

- Visual Studio always let you use AVX intrinsics irrespective of the presence of a compile-time flag (like /arch:AVX2), but it is up to you to guard their use with a runtime CPU check.

- If we want runtime dispatch to work un

[2019-07-13 00:06] lemire commented on #90
Addition:

- It is wrong or useless to test for `__AVX2__` when you are under Visual Studio. You can always use the intrinsics... What you need to do is a runtime check.

[2019-07-13 00:27] zbjornson commented on #90
That's all in line with my understanding, yeah. (Yes to the *Addition:* as well. You probably also already noticed that MSVC has no `__SSE3__`, etc. defines -- just `__AVX__` and `__AVX2__`.)

Yeah, if you're goal is to get one binary that works regardless of CPU features, then `/arch` should target whatever you pick as the minimum feature set.

TBH I don't know if GCC will inline in that case --

[2019-07-13 00:30] zbjornson commented on #90
Well now, maybe it does: https://godbolt.org/z/bp7miB

So yes: GCC, ICC, Clang, No: MSVC.

[2019-07-13 00:54] TkTech commented on #90
Like I mentioned an approach that works everywhere on every compiler is to just compile the files separately. No need to disable optimizations like -mnative or deal with compiler specifics.

Typically (and I say typically because the single file amalgamation means you probably want to do this using ifdefs instead of different files) you compile one file (runtime dispatch initializer) with no featu

[2019-07-13 01:10] lemire commented on #90
I agree that having separate builds and creating a fat binary is very attractive... as we could basically do it using our existing codebase without making it more complex.

I don't know how to do it, however. Maybe it is easy for you, but I honestly don't know how to do it. CMake handles our build setup. How do we make this work with CMake? Is there an example of an open-source project we can look

[2019-07-13 01:11] lemire commented on #90
As a reference, torch added runtime dispatch...
https://github.com/torch/torch7/pull/852

[2019-07-13 01:19] lemire commented on #90
@zbjornson

What you describe 'sounds' easy, but let me narrow it down to our use case.

Currently, we have one code base, and various small functions that are specialized. Importantly, these specialized functions must be inlined since they are called often. They are small. We can't do runtime checks at their level.

To make things nice and modular, we use templates and template specialization. Th

[2019-07-14 03:38] zbjornson commented on #90
I know these all need to be inlinable, but just for the sake of showing something that works with (32-bit, 64-bit) x (Clang, GCC, MSVC, ICC) x (x86, ARM) and function templates, I took your [`compute_quote_mask`](https://github.com/lemire/simdjson/blob/master/include/simdjson/stage1_find_marks.h) function and made a version with runtime function pointer-based dispatching. This came out easy to rea

[2019-07-14 18:09] lemire commented on #90
@zbjornson

Amazing work. We’ll try to take it further.

[2019-07-16 02:16] lemire commented on #71
I have a PR that should solve this issue. In particular, it does parse "-65.619720000000029" to "-65.619720000000029". Performance on all but the most "number intensive" files is unaffected.

[2019-07-16 02:18] lemire commented on #71
Closing.

[2019-07-16 02:18] #71 closed

[2019-07-16 02:20] lemire commented on #144
Given that me and others have produced ios apps, I'm going to close this issue.

[2019-07-16 02:20] #144 closed

[2019-07-16 02:23] lemire commented on #95
@ioioioio Can we add JSON Pointer to our 0.2 release target? (End of summer)

[2019-07-16 02:26] ioioioio commented on #95
Sure. It works on [json_parser](https://github.com/lemire/simdjson/tree/json_pointer) branch, it is just not yet as clean as I'd like it to be.

[2019-07-16 12:49] lemire commented on #95
Marked for inclusion in the next release.

[2019-07-16 12:50] lemire commented on #95
cc @carinecroteau

[2019-07-16 20:41] lemire commented on #90
PHP has runtime dispatch.

https://github.com/php/php-src/blob/6e630fe79b734c0923d8dc0a7b622983e68dad58/ext/standard/base64.c#L431

[2019-07-17 10:00] tahasabih commented on #128
Firebase backups are also single JSON objects, so for large databases, it can easily exceed 10-20 GBs. This in itself is not an issue - we actually ended up going with gson streaming reads - it's extremely robust and memory efficient (albeit not as fast as simd).

[2019-07-17 21:15] lemire commented on #128
@tahasabih  Thanks for another example.

I think you will agree that the goal is not to load tens of GBs in memory at once. We will have to go with some form of paging if we want to have good performance.

[2019-07-17 21:23] lemire commented on #90
White board work on this issue :

![IMG_0357](https://user-images.githubusercontent.com/391987/61412697-8b3ca600-a8b7-11e9-819d-2fd9d0c939f4.jpeg)

[2019-07-18 20:15] michaeleisel commented on #144
"or a 64-bit ARM processor (ARMv8-A): this covers a wide range of mobile processors, including all Apple processors currently available for sale."

to be clear, does it support the iPhone 5s and up?

[2019-07-18 20:34] michaeleisel opened #219 "Provide a DOM creation option"
It would be nice for simdjson to allow a stage 3 for creation of a DOM, like rapidjson and others do. also, i wonder if benchmarking that against rapidjson would be more accurate

[2019-07-18 20:35] michaeleisel commented on #219
perhaps it doesn't need to be split out into a stage 3, integration in stage 2 could be faster. but the general idea is just to create a DOM

[2019-07-18 20:40] lemire commented on #144
@michaeleisel Yes. [The iPhone 5s has a 64-bit processor](https://en.wikipedia.org/wiki/Apple_A7).

[2019-07-18 21:06] lemire commented on #219
To be clear, here is what I mean by DOM: an ordered tree structure where each node (value, object, array) in the JSON document is accessible via an API.  In this sense, the result of the parsing in simdjson is a DOM. Our API is quite similar to RapidJSON and others (and we are implementing JSON pointers, and other features). In some ways, our core API is arguably superior to that of RapidJSON.

Th

[2019-07-18 21:06] #219 closed

[2019-07-19 20:18] lemire commented on #100
Ok. Let us close this given that @SunDoge's version is decent: https://github.com/SunDoge/simdjson-rust

[2019-07-19 20:18] #100 closed

[2019-07-19 20:26] lemire commented on #219
The following commit should help clarify the issue...

https://github.com/lemire/simdjson/commit/abdf81b39b3b4116ee570cc4ef1731163685c5cd

We have a full DOM with iterators, and JSON Pointer support is upcoming.

[2019-07-20 10:18] tahasabih commented on #128
Yes definitely, paging or streaming reads would be really useful!

[2019-07-23 21:23] ioioioio opened #221 "Negative numbers on root do not parse."
Documents do not parse when they only contain a single negative number that is not into an array or an object.

example:
char* json = "-1"

[2019-07-23 21:29] lemire commented on #221
Can you double check? I cannot verify this bug.

[2019-07-24 01:25] ioioioio commented on #221
Do you mean that you tried to reproduce the bug and it did not work?

I already spent some time to test that bug, since it seemed really unexpected. I'll try again tomorrow.

[2019-07-24 13:25] lemire commented on #221
Exactly I cannot verify that this is a bug.

[2019-07-25 18:00] jkeiser commented on #90
Have you considered using the [libsimdpp](https://github.com/p12tic/libsimdpp) approach?

I was actually looking at using it in simdjson to support more architectures and move some of the platform-specific stuff to a more supported library.

[2019-07-25 18:25] ioioioio commented on #90
If I understand correctly, I think we have considered something similar (the "link A+B+C" on the white board), and our experiments showed it would probably work. The problem is that we want to offer a single header file to the user, which would not be possible with that approach.

If you're curious, I pushed a [new branch](https://github.com/lemire/simdjson/tree/runtime_dispatch2) on which everyth

[2019-07-25 22:19] lemire commented on #90
@jkeiser

How would you handle the fact that for efficiency, we need different algorithms depending on the ISA?

The problem we face is not that it is hard to write NEON or AVX-512 code... but that, as @ioioioio points out, we want zero-overhead runtime dispatch based on CPU features without having to assume that the user relies on, say, CMake.

It works now and it is clean... but some typo somewh

[2019-07-25 22:49] jkeiser commented on #90
@lemire I haven't seen the branch yet, and I wasn't knocking it :) I was just looking at the lib and noticed the dispatch mechanism. It would detect more architectures, and maybe even enable partial support for them without tons of work (imagine a "generic simd" version of the algorithm that works on wide instructions where possible, and then #ifs into specifics when an architecture has something

[2019-07-25 23:55] lemire commented on #90
@jkeiser

As pointed out by @ioioioio, it does so with multiple compile passes. That's something we considered but it does not work with a single-header library that you can just plug into your project. You have to configure your build system. We are currently going with something proposed by @zbjornson that should allow us to have a single-header library.  It is harder to do because the dispatchi

[2019-07-26 02:43] jkeiser commented on #90
I'm quite sure you're right about all that, and this is definitely an area where performance compromise is unwarranted--parsing libraries like this are in the critical path for a huge percentage of all communications on the internet. Thanks for sharing your enlightenment :)

[2019-07-26 20:46] lemire commented on #221
This issue has been verified and fixed in a PR (that is to be merged).

[2019-07-26 22:40] lemire commented on #175
JSON Pointer support has been added by @ioioioio , [following RFC6901](https://tools.ietf.org/html/rfc6901).

Reopen if it is does not resolve the issue to your satisfaction.

[2019-07-26 22:40] #175 closed

[2019-07-26 22:44] lemire commented on #95
JSON Pointer support has been added by @ioioioio, it [follows RFC6901](https://tools.ietf.org/html/rfc6901). I believe that this should go a long way toward addressing part of this issue. Nevertheless, we need to leave it open because it seems like there are several different issues.

Todo: we need to break this wide issue into separate components that can be addressed and closed. It is currently

[2019-07-27 22:09] michaeleisel commented on #219
Yes, this issue is a mistake due to a few misunderstandings of mine. I was under the impression that RapidJSON uses a hash for dictionaries to go from key -> value. I then thought that that was the standard way to do DOM parsing. Instead, it appears to use an array structure like simdjson does. Thank you for the clarification.

It is interesting that they both use array structures, as random acces

[2019-07-27 22:20] michaeleisel commented on #219
By random access I mean lookup by key

[2019-07-28 18:16] jkeiser opened #228 "Convert escape characters "in-situ" during stage 1"
NOTE: This is a *potential* improvement, definitely of the sort that has to be profiled in practice.

Currently, string parsing has a few performance flags:

* It [iterates over each backslash](https://github.com/lemire/simdjson/blob/master/include/simdjson/stringparsing.h#L173) rather than running in parallel.
* It [does a branch inside a loop](https://github.com/lemire/simdjson/blob/master/inclu

[2019-07-28 22:45] lemire opened #231 "Drop ALLOW_SAME_PAGE_BUFFER_OVERRUN (dead code)"
As pointed out by @jkeiser, we have dead code related to the ALLOW_SAME_PAGE_BUFFER_OVERRUN macro.

See...
https://github.com/lemire/simdjson/pull/229

[2019-07-29 00:54] lemire commented on #90
We have a working PR now...
https://github.com/lemire/simdjson/pull/230

It is based on @ioioioio work, and benefited from @jkeiser fixes for VS.

[2019-07-29 14:01] lemire commented on #228
Agree. Let us work on this.

cc @ioioioio @geofflangdale

[2019-07-29 15:04] #221 closed

[2019-07-30 02:42] lemire commented on #55
I'll close this and open a distinct issue, since we have pretty detailed error types at this point.

[2019-07-30 02:42] #55 closed

[2019-07-30 02:43] lemire opened #237 "Have precise overhead-free error reporting (to the char)"
Allow precise error reporting, so that we can narrow it down to the offending character when needed.

cc @TkTech

[2019-07-30 02:46] lemire commented on #104
We should fix this soon, hopefully for release 0.2.

cc @ioioioio

[2019-07-30 02:47] lemire commented on #90
This has been merged. It was a lot of work, but we have something that works.

@jkeiser rightfully objects to our use of macros, but I think that's a distinct issue. Closing.

[2019-07-30 02:47] #90 closed

[2019-07-30 03:26] ioioioio commented on #104
I pushed a branch ([style_uniformization](https://github.com/lemire/simdjson/tree/style_uniformization)) on which I applied a clang-format with the LLVM style. I chose that one because it is the one that gave the result that was the closest to what we already have.

However, I don't think it is the good option to apply LLVM style guide's naming convention (https://llvm.org/docs/CodingStandards.htm

[2019-07-30 14:16] lemire commented on #104
Thanks @ioioioio

[2019-07-30 21:56] lemire opened #239 "Add scripts to enforce coding styles"
We need a scripted way to...

1. Check that new files abide by the coding style...

2. Automatically format the files according to the coding style.

[2019-07-30 21:57] lemire commented on #239
@ioioioio  Can you have a look?

[2019-07-30 21:58] lemire commented on #104
I am going to close this. As far as I can tell, we still lack an automated way to enforce LLVM... so I opened a new issue...
https://github.com/lemire/simdjson/issues/239

[2019-07-30 21:58] #104 closed

[2019-07-30 22:20] lemire commented on #239
Ideally, this should be integrated with CI so we routinely check the style.

[2019-07-30 22:50] lemire commented on #239
It might be the last thing we would want to do prior to release 0.2

https://github.com/lemire/simdjson/projects/1

[2019-07-31 14:28] lemire commented on #219
Yes, I understand what you mean.

The big-O analysis only works if n is large. If you have JSON objects with 100 keys, then... yes, this becomes a concern. But my experience with JSON is that this is not common. There are usually few keys.

A hash table can be slower than array if there are few keys. It will certainly use more memory and be have more overhead.

So far, all tests I have run suggest

[2019-07-31 23:43] michaeleisel opened #242 "floating-point parsing with accuracy beyond 1 ULP"
it says that the maximum error is 1 ulp for floating-point parsing. it could be further reduced to 0.5 ulp, right? short of that, it would be good to at least understand in which situations this error occurs. for example, i hope it wouldn't occur for numbers like `1.0`.

[2019-08-01 01:36] lemire commented on #242
Marked as "help wanted". Pull requests and further analysis are invited.

[2019-08-01 01:40] lemire commented on #242
The ULP between two parsed floating-point numbers is an integer... it can be 0,1... It cannot be 0.5.

[2019-08-01 01:50] lemire commented on #242
Practically speaking, an ULP of 1 means 15 digits of accuracy because 1/(2**53)~ 1.1e-16.

Very few applications need more than 15 digits of accuracy. It is akin to trying to track the position of molecules on Earth using latitude and longitude.

![image](https://user-images.githubusercontent.com/391987/62259609-e9e84080-b3dc-11e9-8d99-ca4f298ae2a3.png)

[2019-08-01 02:28] michaeleisel commented on #242
the ulp is an integer, but the error can be 0.5 (or some other non-integer number) because it's going from decimal to binary, right? my concern for this is around two things:
- logic errors from short numbers like `1.0` used in comparisons in client code (e.g. why you wouldn't use a float in a counter. but i don't know in what cases >0.5 ulp error occurs.
- being a true drop-in replacement for exi

[2019-08-01 03:08] lemire commented on #242
We don't measure the 'true' value. We compare against a standard float parser. Either we get an identical result, or we differ in the last bit.

New code to compute the actual ULP, using high precision arithmetic is invited. Please contribute.

Is this an hypothetical issue (e.g., 1.0 does not get parse correctly) or are you referring to actual issue you can demonstrate with code? I would certainl

[2019-08-01 05:22] plokhotnyuk commented on #242
@michaeleisel I bet that you are arguing for the turn-around conversion of binary representation through textual without lost of any bit.

It can be crucial for use cases when processing logic accepts only a range of float point values and users pass an edge value (like minimum bet or fee).

Many parsers provide a couple of functions: 1st is loosing but fast and 2nd which parses with most possible

[2019-08-01 13:47] lemire commented on #242
@plokhotnyuk

Great link.

Code contributions invited.

[2019-08-01 20:09] lemire commented on #239
Closed as per https://github.com/lemire/simdjson/pull/243

[2019-08-01 20:09] #239 closed

[2019-08-01 20:10] lemire commented on #239
Thanks @ioioioio

[2019-08-01 20:13] lemire commented on #90
The current design would not have been possible without @zbjornson so created was added.

[2019-08-01 20:17] zbjornson commented on #90
Happy to help, glad you figured something out. Sorry I didn't get to review your PR, I've been on (and am still on) vacation for the last week (and next week).

[2019-08-01 20:47] lemire opened #245 "update vcpkg to simdjson 0.2.1"
We have a new release. This new version brings about support for 64-bit ARM.

I think that we need to update our vcpkg.

https://github.com/microsoft/vcpkg/blob/be4158fb89045319f19d83d08b851e6e694b5b12/ports/simdjson/portfile.cmake

@myd7349 can you help?

[2019-08-01 20:49] lemire opened #246 "update debian to simdjson 0.2.0"
We have a new release of simdjson that brings about support for 64-bit ARM and runtime dispatching. We need to update our debian package to simdjson 0.2.0.

@cdluminate  can you help?

[2019-08-01 20:58] lemire commented on #90
@zbjornson It was incredibly difficult to make your approach work even though it is sound.

The most frustrating difficulty is that clang attribute does not work with C++ namespaces, and that's not documented anywhere (possibly a bug). For the longest time, all we got were random error messages.

But now that it works, it is a really good framework.

@ioioioio  did most of the software engineering

[2019-08-02 00:34] cdluminate commented on #246
@lemire Sure.

[2019-08-02 13:39] cdluminate commented on #246
https://tracker.debian.org/pkg/simdjson simdjson 0.2.0 was uploaded to Debian unstable. Later on I will upload it to buster backports.

[2019-08-02 13:49] lemire commented on #246
We are going to close this issue. Thanks @cdluminate.

[2019-08-02 14:00] #246 closed

[2019-08-03 03:21] SunDoge opened #249 "Feature request: C API"
After upgrading to 0.2.0, many functions become inline, which makes it difficult to develop bindings for simdjson, because inline functions are unable to link to. Though I can modify the source code in my project vendor by using regex to remove all `inline` keyword, it will prevent me from linking to the shared library in the system path.

I suggest externing some API in C with a common prefix suc

[2019-08-03 11:59] effolkronium commented on #128
How about memory mapping for a super-large json files?. The OS will be able to handle memory usage by its own.

[2019-08-03 14:53] lemire commented on #249
@SunDoge

I guess you refer to the navigation of the DOM? Having these functions be inline is critical to good performance when you are browsing through thousands of nodes (but I am sure you understood this).

Please don't do this! Let us find a way to make it work directly instead. We should issue a 0.2.1 version instead.

I am not sure I understand what you mean...

What is certainly possible is

[2019-08-03 16:38] lemire commented on #249
Regarding a C API... can you elaborate? The main issue I see is that we are relying on a ParsedJson class... It is not obvious how this could interoperate nicely with C.

[2019-08-04 11:11] myd7349 commented on #245
@lemire Sure!

[2019-08-04 11:21] SunDoge commented on #249
I have to struggle with my paper until September, so I can't reply in a timely manner.

Implementing those inline functions in Rust is dangerous, but marking them as `#[inline]` in Rust may have a performance advantage, so I'll keep trying.

For example, [https://github.com/apache/incubator-mxnet/blob/master/include/mxnet/c_api.h](https://github.com/apache/incubator-mxnet/blob/master/include/mxnet

[2019-08-04 11:27] SunDoge commented on #249
I'll reopen it if anyone has the same request.

[2019-08-04 11:27] #249 closed

[2019-08-04 11:38] myd7349 opened #250 "Dynamic library broken under Windows due to runtime dispatching: unresolved external symbol simdjson::json_parse_ptr"
Hi! I am tring to update vcpkg's `simdjson` to v0.2.0. And it seems that dynamic library support on Windows with MSVC is broken:
[code]
In `simdjson`'s CMakeLists.txt, [```WINDOWS_EXPORT_ALL_SYMBOLS```](https://cmake.org/cmake/help/latest/prop_tgt/WINDOWS_EXPORT_ALL_SYMBOLS.html) is used to automatically export symbols found in the dll:
https://github.com/lemire/simdjson/blob/349068dcda596261dba68

[2019-08-04 13:49] lemire commented on #250
What seems immediately obvious to me is that we need to add tests for dynamic library support. We have CI tests under Windows... but not for dynamic library.

@myd7349  Would you be willing to prepare a PR or, at least, elaborate on your proposal?

[2019-08-04 14:10] lemire commented on #250
The bug is verified: https://ci.appveyor.com/project/lemire/simdjson

[2019-08-04 14:10] lemire commented on #250
cc @ioioioio

[2019-08-04 14:15] lemire commented on #250
cc @jkeiser

[2019-08-04 14:20] lemire commented on #250
I think that illustrative logic from @myd7349 's example  is found in this file...

https://github.com/myd7349/Ongoing-Study/blob/3d28ccb7e50e344dc2599269726e2ddd581880f0/cpp/CMake/libfoo_v2/include/libfoo/foo.h

[2019-08-04 14:33] lemire opened #251 "json_parse_dispatch is not thread-safe: help the programmer"
Currently, there is a warning regarding the thread safety of json_parse_dispatch.

We need some kind of lock to handle the issue. E.g., there could be a lock in json_parse_dispatch to ensure that the pointer is only reassigned once.

[2019-08-04 14:33] lemire commented on #251
cc @alexey-milovidov

[2019-08-04 17:44] lemire commented on #250
@myd7349 BTW, we do want to export json_parse_ptr as a function pointer.

[2019-08-04 17:45] lemire commented on #250
Or maybe not.

[2019-08-04 18:19] lemire commented on #250
Ok. I have a possible fix in this PR...
https://github.com/lemire/simdjson/pull/252

It builds.

However ctest fails because the DLL is not found. It is a path issue.

[2019-08-04 18:50] lemire commented on #250
Ok. Need to copy over the DLL... I think it works now.

[2019-08-04 19:41] #250 closed

[2019-08-04 19:42] lemire commented on #250
@myd7349 We can build a DLL and link against it on Windows. This is now part of our CI. Hopefully, this will solve the issue you encountered.

Of course, it is still possible to change how we generate the DLL.

I will shortly issue a new release.

[2019-08-04 19:47] lemire commented on #245
@myd7349 Version 0.2.1 should work for DLL releases.

[2019-08-05 20:47] lemire opened #258 "Terrible performance regression due to commit "Replace macros by include files""
We have just merged a commit that drops our performance in stage 1 very significantly (replacing macros by include files):

before:
[code]

after:
[code]

It is bad enough to be considered a bug.

cc @ioioioio

[2019-08-05 20:48] lemire commented on #258
Note that this commit is *after* release 0.2.1, so we do not have this regression in a release.

[2019-08-05 21:19] lemire commented on #258
Link to the guilty commit...

https://github.com/lemire/simdjson/commit/2a24567370a7a96aacf2aa4ebf4548c817450516

[2019-08-05 21:56] jkeiser opened #260 "Check for perf regression in CI"
I do wonder if any of the many CI solutions out there handles perf graphing and regression checking over time. Even if it's not first-class, we could do a CI run that benches the code before and after the patch in the same container.

[2019-08-05 21:59] lemire commented on #260
@jkeiser  Yes. Currently, I do it by hand from time to time. It would be great to automate the process...

It is not support hard probably. You run the benchmark, grab some numbers. Then you do a "git checkout" and you grab a known release, then you compare the performance. If the performance differs too much, then you flag it.

cc @ioioioio

[2019-08-05 21:59] lemire commented on #258
cc @jkeiser

[2019-08-05 22:00] lemire commented on #258
This one is a bit of a puzzler. I was not expecting any performance difference from that commit. Something specific is hurting us.

[2019-08-05 22:01] lemire commented on #258
Note that the problem *only* affects stage 1.

[2019-08-05 22:06] lemire commented on #258
Here is a hint: it affects ARM NEON as well. So it is not caused by runtime dispatch.

[2019-08-06 01:40] ioioioio commented on #258
I had to leave early today for an exam. Otherwise I consider this a serious issue and I wish I had got the time to look for a fix.

I have not deleted the branch on which I worked on this (https://github.com/lemire/simdjson/tree/suppress_macros). I think there might be good clues on it. For example, I remember I have tested for performances at least just before I did the first commit.

I'll check

[2019-08-06 02:00] ioioioio commented on #258
well..... in fact my tests show performance regression from the first commit on the branch.

[2019-08-06 02:30] lemire commented on #258
Thanks @ioioioio

No blame here.

[2019-08-06 15:52] jkeiser commented on #258
Man ... how?

Once again, performance shows us that our intuitions about it are wrong.

[2019-08-06 16:02] jkeiser opened #261 "Use 256-bit wide bitmasks in stage 1"
The basics:
1. In `find_structural_bits`, loop over 256 bytes at a time, and loop over those bytes in SIMD-sized increments, building up a 256-bit-wide bitmask 16 (SSE4.2) or 32 (AVX-2) bytes at a time.
2. Use 256-bit SIMD operations (or pairs of 128-bit operations) to
3. Stretch (optional): use architecture-sized masks instead of assuming 256: loop over 128 bytes at a time on SSE4.2, and 256 on A

[2019-08-06 16:12] jkeiser commented on #258
Here's a link to [the original PR](https://github.com/lemire/simdjson/pull/248/commits), so we can see the commits.

@ioioioio I can't check it right now, but just to confirm, are you saying that the [clang-format](https://github.com/lemire/simdjson/pull/248/commits/1c21338cdd8dadc91e1af6999c8f432eb33d0102) commit shows the regression?

[2019-08-06 16:15] ioioioio commented on #258
this commit: https://github.com/lemire/simdjson/commit/19fcb68c61f91702ce2196045bbce7b206343b9b

[2019-08-06 16:26] jkeiser commented on #258
On first scan, the only textual difference I see that ought to make a difference to the *code* is [a new if statement in the call to flatten_bits](https://github.com/lemire/simdjson/commit/19fcb68c61f91702ce2196045bbce7b206343b9b?diff=split&w=1#diff-cec8a5fb1819dce9c4b8c2f41000a223R197-R201). Maybe it's not being optimized away and we're seeing a misprediction?

[2019-08-06 16:32] ioioioio commented on #258
I tried to just delete it and compile only with the haswell::flatten_bits. Was not better.

I pushed a branch with a quick fix. I just reverted the changes on stage1. I think it might help to identify the problem.
https://github.com/lemire/simdjson/tree/performance_regression_quick_fix

[2019-08-06 17:06] jkeiser commented on #258
Cool. I built a PR to templatize flatten_bits, which it seems like we should just do anyway. Unfortunately, I can't dump anymore time to it until late tonight.

[2019-08-06 17:14] jkeiser commented on #258
BTW, if the revert fixes the problem and removing the if doesn't, it's better to just revert than pile my templatization on top.

[2019-08-06 19:46] ioioioio commented on #258
I have a [branch](https://github.com/lemire/simdjson/tree/performance_issue_fix(%23258)) with no performance issue. It only needs cleaning and an amalgamation fix.

The sad part is we might never know what was the problem.

[2019-08-06 21:51] lemire commented on #258
@ioioioio Surely, we can figure out the cause!!! :-)

[2019-08-07 00:32] myd7349 commented on #245
Hi! @lemire This issue can be safely closed now.

[2019-08-07 00:54] lemire commented on #245
+1

[2019-08-07 00:54] #245 closed

[2019-08-07 13:26] michaeleisel commented on #242
I will take a look at this within the next couple months. I think we can at least provide the slower, more accurate option for those who want it.

[2019-08-07 13:30] michaeleisel opened #264 "Detect if any keys have non-ASCII characters"
Non-ascii keys seem pretty weird, but I guess they must be out there. Normally, there are no keys like this and so you can deal with strings in a fast and simple way, e.g. using `strcmp` without having to canonicalize both strings being compared. So, it would be nice if there was some indicator that at some point in the JSON document there is a non-ASCII character in a key, causing parsers built o

[2019-08-07 14:10] lemire commented on #264
I think that your issue is valid. It is related to some existing issues like...

https://github.com/lemire/simdjson/issues/184

The main idea is that, often, keys are short and ASCII.

Whether there is any sense in having such a flag that users of the library can access... I do not know... but currently, simdjson does not attempt to take advantage of this at all.

[2019-08-07 14:18] lemire commented on #242
@michaeleisel

Thanks.

Note that providing the more accurate version is *trivial* in the sense that you can just substitute the final steps of the number parsing by a call to the standard library... What is genuinely hard is to do the accurate parsing *quickly* so that you can still run at gigabytes per second.

In other words, we go fast with just up to one bit out of 64 of error... going withou

[2019-08-07 15:02] michaeleisel commented on #242
i disagree, there are lots of value adds in this library besides faster floating-point parsing. furthermore, most json payloads in my experience have very few floats. but it would be nice for it to be fast.

[2019-08-07 15:24] ioioioio commented on #258
That branch fixes the performance regression: https://github.com/lemire/simdjson/tree/issue258_fix_performance.

If we compare to master, we notice there are not a lot of differences:
1. find_structural_bits_64 is really_inline
2. find_structural_bits_64 selects flatten_bits with a template argument (I'm not sure to understand why it helps, though)

[PR#262](https://github.com/lemire/simdjson/pull

[2019-08-07 15:29] lemire commented on #258
@ioioioio Thanks.

1. Yes, inlining is super important during stage 1. That alone might explain the performance regression.

2. I have not looked at the code but if we have a runtime branch, even if it is easy-to-predict, it could harm performance because the binary gets fatter and there is more jumping around. That alone should not explain the regression we saw, however.

[2019-08-08 19:10] lemire commented on #258
Closing given recent PR fixing this issue.

[2019-08-08 19:10] #258 closed

[2019-08-08 19:49] lemire commented on #258
The fix is from https://github.com/lemire/simdjson/pull/262

I manually verified the fix.

[2019-08-08 20:19] lemire commented on #251
Fixed per https://github.com/lemire/simdjson/pull/256

[2019-08-08 20:19] #251 closed

[2019-08-08 22:22] lemire commented on #128
Another candidate https://www.yelp.com/dataset/challenge

[2019-08-09 12:06] vitlibar opened #265 "UBSan error: passing zero to ctz(), which is not a valid argument"
[code]

UBSan detects that error while parsing almost any JSON using SSE 4.2.

[2019-08-09 12:12] vitlibar commented on #265
I assume we can either add a check for zero before calling `__builtin_ctzll()` or just disable UBSan check with the attribute `__attribute__((no_sanitize("undefined")))`. What do you think?

[2019-08-09 15:46] lemire commented on #265
@vitlibar Passing zero to ctz is by design in this case (we branch later so it is fine).

[2019-08-09 15:53] lemire commented on #265
Branching would defeat the algorithmic design. It is possible that the compiler might be smart enough to remove the unnecessary checks, but I don't expect so.

[2019-08-09 16:08] vitlibar commented on #265
So it seems to be correct to simply quiet UBSan here. I've opened a pull request.

[2019-08-09 16:11] lemire commented on #265
Yes, you can read this post where I describe the approach...
https://lemire.me/blog/2019/05/03/really-fast-bitset-decoding-for-average-densities/

[2019-08-09 16:11] lemire commented on #265
+1 on the PR. See my comment there: are you sure that you are supporting GCC?

[2019-08-09 21:36] #231 closed

[2019-08-09 21:37] lemire commented on #265
@vitlibar  Can we close this issue?

I have added more sanitize tests as part of CI.

[2019-08-10 09:42] #265 closed

[2019-08-10 21:21] Skyprophet opened #269 "`max` and `min` disruptive marco in <windows.h>"
For portability, simdjson includes <windows.h> in `jsonparser.h`. However, it is super disruptive when user want to use `std::min` or `std::max`.

The solution is to use `NOMINMAX` macro to suppress `min` and `max` macro definitions in <windows.h>.

Since `simdjson` does not rely on these `min` and `max` macros at all. I think it is a good idea to define `NOMINMAX` by default.

[2019-08-11 15:07] lemire commented on #269
Can you issue a PR?

[2019-08-11 15:09] lemire commented on #269
Note: we may not beed windows.h anymore!

[2019-08-11 20:56] Skyprophet commented on #269
If it is not required, the best way to deal with it is to remove it directly. Anyway, I can do a PR introducing the NOMINMAX macro.

[2019-08-12 01:12] lemire commented on #269
Thanks.

[2019-08-12 17:42] jkeiser opened #272 "CI performance next steps"
Modifications to make after merging #270.

- [x] Compare against known release target for consistency (v0.2.1).
- [x] Drop the 10% error margin, and retry up to n (6?) times on failure. If all n show current performance < new performance, fail.
- [ ] Write perfdiff in python--quit doing scripty things in C++, which is pretty unsuited for them.
- [ ] Stretch: graph performance over time so we can s

[2019-08-12 23:41] lemire commented on #269
The header was removed without harm. I think we agree that it is the best solution. Closing.

[2019-08-12 23:41] #269 closed

[2019-08-13 23:00] Skyprophet opened #274 "Capability to parse JSON batches"
It would be nice to see a feature which can take multiple JSON document in a batch so that user can validate and parse them together.

It may also beneficial for performance as the overall padding amount for aligning with SIMD instructions may be significantly reduced when parsing large batches.

[2019-08-14 00:33] lemire commented on #274
Could be addressed along with https://github.com/lemire/simdjson/issues/188

[2019-08-14 01:06] Skyprophet commented on #274
Yeah, it would also be nice to support cases where JSON documents are not delimited by new lines.

[2019-08-14 14:42] lemire commented on #274
I don't expect we will enforce the new line separation.

[2019-08-14 14:58] michaeleisel commented on #242
a few things:
- correct me if i'm wrong, but it looks like when processing each digit past the decimal point, we are accumulating an error (admittedly in a long double), by incorporating a power of ten, which of course is never perfectly accurate. how are we sure that the maximum error here is even capped at 1 ULP? why not form as many numbers as possible into an integer before doing a multiplicat

[2019-08-14 15:06] michaeleisel commented on #242
another alternative approach is to cache the mantissa for each decimal place, i.e.:
[code]
and then you add up all the mantissas. with a bit of trickery, you can lower the odds that this will force the slow path to, e.g., 17/2^55. however, i wasn't able to get it as fast as strategies like the one mentioned. would it be that the fetch from the lookup table is slower than a multiplication, even whe

[2019-08-14 15:17] lemire commented on #242
@michaeleisel I think you are focusing on `parse_float` but this function is almost never called.

I am sure that `parse_float` can be entirely redone better, for both better performance and more accuracy. If you want to take a stab at it... please do!!!

But even if `parse_float` were perfect, this should impact number parsing only in the special cases where you have lots of digits. This does not

[2019-08-14 15:23] lemire commented on #242
We already use the integer representation in `parse_number`. But I think you are in the `parse_float` function which handles the scenario where we have lots of digits.

When you have lots of digits, all sorts of things can happen... If you have something like...

31323321321321321321321321321321421321321321321321.31323321321321321321321321321321421321321321321321

nothing can be represented as an

[2019-08-14 15:25] lemire commented on #242
This is what we do in `parse_number`.

[2019-08-14 15:37] michaeleisel commented on #242
yes, good point, i was focusing just on that function. however, i do think a few things are still true:
- parsing the decimal component as a separate double will give perfect accuracy for more cases
- the cached mantissa approach can be vectorized, so unless lookups are just way more expensive than arithmetic (curious to know your thoughts on that), that could be the way to go

[2019-08-14 15:49] lemire commented on #242
Have you tried it out?

Do you have code we could look at?

We already vectorized the computation of the mantissa in `parse_number`.

[2019-08-14 16:04] michaeleisel commented on #242
what vectorization are you referring to? just `parse_eight_digits_unrolled`, or anything else? here is a non-vectorized version of what i'm talking about: https://github.com/michaeleisel/strtod/blob/master/macFtoA/main.c#L218 . i don't see anything like it in `parse_number`. there are many variations, e.g. keeping a 128-bit mantissa, or using multiple lookup tables, each with a different shift amo

[2019-08-14 16:04] michaeleisel commented on #242
s/upper bound/upper bound for the error

[2019-08-14 16:06] michaeleisel commented on #242
and as for trying out parsing the decimal component separately, there is no need to try it out to show correctness for more cases, the math is straightforward based upon https://www.exploringbinary.com/fast-path-decimal-to-floating-point-conversion/

[2019-08-14 16:57] lemire commented on #242
@michaeleisel

Yes, that.

[2019-08-15 02:50] lemire commented on #242
I do not see much mathematics in this reference you offer.

Here is what I think it is claiming. If 0 ≤ s ≤ 2^53 and if  10^0 ≤ p ≤ 10^22 then

1. Both s and p can be represented exactly as 64-bit floating-point values (binary64). I think this is true and can be demonstrated by factoring 10.

2. Because s and p can be represented exactly as floating-point values, then s * p and s / p will produce

[2019-08-15 14:12] michaeleisel commented on #242
I see, I was referring to the math being clear for why computing a double for the integer and decimal separately being good follows from the article. But as for the article itself... "This process relies implicitly on... that IEEE multiplication and division produce correctly rounded results". I've always believed that this is true, are you saying it's not? But most importantly, this is how RapidJ

[2019-08-15 15:07] lemire commented on #242
I don’t know what RapidJSON does, but as you can see, no, processors do not necessarily round perfectly ... often  the ULP is within one of the right value.

[2019-08-15 15:52] michaeleisel commented on #242
I would be much more curious to see an example in C, or better yet, assembly. Like I said, there may be weirdness around 1e-9 etc.. As for RapidJSON, it's probably the most battle-tested JSON library out there, and it's by Amazon among others. I would be very surprised if it wasn't correct. In general, everything I've read states that processors/compilers do round correctly. For example, in https:

[2019-08-15 16:23] lemire commented on #242
I never stated that RapidJSON was incorrect, I wrote that I do not know what it does. I expect it is correct.

[2019-08-15 18:10] lemire commented on #242
@michaeleisel I think you are correct. We can parse almost all our examples except maybe canada.json with perfect rounding without atrocious performance.

[2019-08-15 18:22] michaeleisel commented on #242
yes, and canada.json too if we split up the int and decimal components. we can also get tricky with 80-bit long doubles if we want

[2019-08-15 18:51] lemire commented on #242
Maybe.

[2019-08-15 21:26] lemire commented on #242
@michaeleisel

Splitting does not really help because while `30276465416/100000000000 == 0.30276465416`, it is not true that `2 + 30276465416/100000000000 == 2.30276465416`.

[2019-08-15 23:15] lemire commented on #242
I have a PR with perfect number parsing over all example files, except canada.json. https://github.com/lemire/simdjson/pull/281

The canada.json has many numbers like `83.113876000000118`. Sadly, we have that `83113876000000118>(1<<53)` so we can't just parse the integer `83113876000000118` and then multiply by `10^-15` because  `83113876000000118`  is too large.

Note that this is precisely the s

[2019-08-16 02:57] michaeleisel commented on #242
i am optimistic we can find a way, at least for a lot of the values. here are a few thoughts:
- we can determine when a value like `2.30276465416` is at that dangerous boundary. i am still working out the math, but it's something like, when the part that is removed from the decimal component is either `10...0` or `1...1`. then we can fall back to the slow path. i believe there are some flags that

[2019-08-16 03:02] michaeleisel commented on #242
rounding modes seemed interesting, but from what i've read changing the rounding mode can be slow, and since it's global state, it's not good to do for a library

[2019-08-16 03:27] michaeleisel commented on #242
another separate optimization: we could "enqueue" doubles to be computed and then do them all at once with a vector instruction like `divpd`

[2019-08-16 03:28] michaeleisel commented on #242
s/computed/divided

[2019-08-16 17:19] jkeiser commented on #272
I'm just not worried enough about the other two. It's working, not going to invest in C++. Graph would be nice, but we'll get there when we get there.

[2019-08-16 17:19] #272 closed

[2019-08-17 19:19] jkeiser opened #288 "Use cmake to generate Makefile"
Right now, we have to maintain the list of headers and sources in three places: amalgamation, cmake and Makefile. The latter two could be dealt with by making Makefile a fully generated thing.

To ensure they are in sync, we can require the Makefile to be in sync (i.e. regenerate before you check in changes), and have CI fail if "amalgamate" or "cmake" causes the Makefile or singleheader to change

[2019-08-17 21:31] lemire commented on #288
Sure.

The amalgamation might always require some manual care.

The Makefile could be dropped.

[2019-08-20 17:49] michaeleisel commented on #144
I've released a swift library built on simdjson. It's a drop-in replacement of JSONDecoder, and it's 4-5x times the speed of Apple's: https://github.com/michaeleisel/zippyjson

Here were some takeaways:
- I had to store many ParsedJson::iterators, so the copy constructor had to be fast. I got rid of the depthindex array and just stored the depth (I didn't need `up()`)
-  I tried to support SwiftPM

[2019-08-20 18:15] lemire commented on #144
@michaeleisel Fantastic. I have reshared the link and add a link from simdjson.

Surely Linux is supported as well. Maybe you mean that you can't support ios with SwiftPM?

Great.

That seems drastic?

[2019-08-20 18:35] michaeleisel commented on #144
Correct, that's what I meant

What alternative would you suggest? I could do that check during parsing, which I could see being faster, but otherwise I don't know. In any case, it's only about ~3% of the total time.

FYI simdjson functions, including the initial parsing, only take up like 25% of the total time or less, the rest is spent in Swift

[2019-08-20 18:54] lemire commented on #144
Can you elaborate on why you can't always use simdjson? What is wrong with non-ASCII keys?

[2019-08-20 18:56] michaeleisel commented on #144
Right now it uses `memcmp`/`strcmp` for key comparison, which doesn't work for non-ASCII because different `char *`s can represent the same UTF-8 string (canonical vs. non-canonical representations). So then you have to convert everything to canonical, and you can't just do it in-place since the canonical representation may take more space. So it's a hassle that I just didn't want to deal with.

[2019-08-20 19:25] lemire commented on #144
@michaeleisel

Good point, but I thought that Swift was already using UTF-8 natively, right? So if you have two UTF-8 char*, Swift ought to be able to compare them for us, no?

What I understand is that you are relying on simdjson for the string comparison, and we don't support Unicode equivalence.

[2019-08-20 19:46] michaeleisel commented on #144
If you were to put everything into Swift strings, that would be a simple way to do it. However, that sort of thing often comes at a substantial performance cost. Generally the way I do Swift/ObjC APIs is, get the Swift/ObjC inputs and immediately convert to C-level data types, do all the work, then at the very last bit convert back to Swift/ObjC data types. See https://github.com/michaeleisel/zipp

[2019-08-20 20:05] lemire commented on #144
@michaeleisel I am not arguing that you should do things differently.

Have you found JSON files where keys are *not* ASCII?

[2019-08-20 20:06] michaeleisel commented on #144
No, and I hope I never do, but in the spirit of being a drop-in replacement for JSONDecoder I want to provide a similar level of support for devs as Apple does, and Apple supports this.

[2019-08-20 20:07] michaeleisel commented on #144
So I understand whichever way simdjson goes with this, I just know that I'll continue to support it

[2019-08-20 20:09] lemire commented on #144
@michaeleisel I am just wondering how simdjson might better support this issue.

I think that's a good start...
https://github.com/lemire/simdjson/issues/264

[2019-08-20 20:15] michaeleisel commented on #264
I am curious how the devs of the other libs built on simdjson feel about this, and I still don't the real-world occurrence rate of non-ASCII JSON. From there, here are some options:

- leave as-is
- detect
- detect canonicalize before writing to tape

[2019-08-20 20:19] lemire commented on #264
By non-ASCII JSON, I think you refer to the keys... because there is lots of non-ASCII characters in JSON documents, evidently.

I think it may make sense to detect this. I think we want to reengineer in any case, because it makes sense to treat keys differently, something we do not do currently.

[2019-08-20 20:21] michaeleisel commented on #264
Makes sense, and yes I mean keys. I have no strong feelings about it either way, since my library already has a handler for it

[2019-08-20 20:28] michaeleisel commented on #264
Although I will say one thing... if you want to canonicalize after the tape has been written, it's sort of a pain. You can canonicalize where currently we call `strcmp`, and you can use storage on the stack for that. But then you have to do it every time you traverse that key. The alternative, caching the canonicalized forms, is a decent bit of work

[2019-08-20 21:06] lemire opened #292 "Make the tape bidirectional"
Currently, the tape can be traversed forward, but it is comparatively difficult to move backward (performance-wise).

[2019-08-20 21:08] lemire opened #293 "Write a proper documentation for our API"
Especially the iterator...

[2019-08-20 21:19] michaeleisel commented on #144
To go to another point, and I don't know what the current thoughts are on the architecture, but what would've been nicest for me is where the iterator keeps a pointer to the top of the array/dictionary and then keeps its own private iterator that keeps track of the last place it traversed to. Then you can performantly search for keys in sequence and not have to think about that state (and the case

[2019-08-20 22:28] lemire commented on #144
@michaeleisel If you have a proposal, can you turn it into a distinct issue? Otherwise it is hard to keep track of the ideas...

[2019-08-20 22:45] lemire commented on #144
@michaeleisel For example, we have `move_to_key` function which may do what you want... But in any case, it is probably best to open a new issue if you have ideas to discuss.

[2019-08-20 23:28] lemire commented on #264
I am guessing that we can handle canonicalized forms relatively cheaply because it will be so rarely used. I'll make a new issue out of it.

[2019-08-20 23:29] lemire opened #294 "consider storing unicode-canonicalized keys"
When keys are not ASCII, we should have canonicalized versions to speed up key comparisons.

[2019-08-21 00:37] lemire commented on #260
Closing

[2019-08-21 00:37] #260 closed

[2019-08-23 20:03] the-oaks opened #297 "Question: fesibility to use the same technique to speed up XML parsing"
the performance of simdjson is very impressive, giving JSON is somehow similar to XML, is it possible to apply some of the techniques used in simdjson for XML parsing?

[2019-08-23 22:04] lemire commented on #297
@the-oaks We expect so, yes. However, xml has a more complicated grammar so it would be a bit more work.

[2019-08-24 00:55] lemire opened #298 "Perf test is too fragile"
We are getting too many false errors on perf tests.

cc @jkeiser

[2019-08-24 08:21] the-oaks commented on #297
@lemire thanks for the reply, could you please share some hints on how could we get started on this? e.g. what would be the key functions/code that we need to update? thanks

[2019-08-24 14:13] lemire commented on #297
The best way to get started is probably to read the paper... https://arxiv.org/abs/1902.08318 Then one should identify the structural characters...

[2019-08-24 21:17] the-oaks commented on #297
thanks very much for the hints :)

[2019-08-24 21:17] #297 closed

[2019-08-25 13:33] #298 closed

[2019-08-29 03:49] sunnygleason commented on #249
@lemire I'm not quite sure, I'd like to hear @SunDoge 's explanation.

Maybe it is as easy as replacing "inline" with a macro def that @SunDoge can
"ifdef out" in the Rust/C bindings? (I'm guessing it can't be that easy) :)

One similar aspect I've encountered is trying to write unit tests for
ported functions to other languages/architectures (rust/SSE42) to
verify intermediate results/function-le

[2019-08-29 03:56] SunDoge commented on #249
@lemire @sunnygleason I'll be back after finishing my paper on Sept. 6th. I'll write a thin wrapper myself and see if it works.

[2019-09-02 15:56] lemire commented on #68
Close via https://github.com/lemire/simdjson/pull/306

Credit: @saka1

[2019-09-02 15:56] #68 closed

[2019-09-02 16:00] lemire commented on #167
Note that we now a support for 64-bit unsigned integers.

Of course, we still cannot represent big integers like 38793000000000000001.

[2019-09-03 20:23] greenrobot opened #307 "C++11 support"
If the sources were in C++11, it would increase the number of compatible compilers. E.g. some cross-compiler tool-chains rely on ancient versions of GCC not supporting C++17. How heavy do you rely on C++17 features? Would C++11 be an option? We're sticking to RapidJSON as we cannot enforce C++17 (and we wish we could).

[2019-09-03 20:29] lemire commented on #307
@greenrobot

Excellent question. My guess is that we could insert a few selective `#ifdef` and make the code C++11 compliant. Like a branch on `__cplusplus`.

There is no fundamental reason why we need C++17, I would think.

Would you or someone else try it out? If there are roadblocks, we could discuss them openly. I am sure we can make it work.

[2019-09-06 08:52] maihuuthien opened #308 "Get size of JSON array"
How can I get the size (number of elements) of an array from ParsedJson::Iterator?

[2019-09-06 12:54] lemire commented on #308
You can visit the elements of the array with calls to `next()`, it returns `true` on success and `false` on failure. The API does not current provide a way to know directly the size of the array. This could be improved.

[2019-09-06 17:23] jkeiser opened #309 "ARM neon_movemask_bulk losing half the mask?"
I'm trying to follow the ARM movemask code, and I simply can't figure out how we aren't losing all information about the high bytes. [From neon_movemask_bulk](https://github.com/lemire/simdjson/blob/master/src/arm64/simd_input.h#L20):

[code]

All the operations are restricted to each 8-bit lane with no lane crossing. The final result just returns the bottom 64 bits. What am I missing? I'm sure I'

[2019-09-06 17:28] jkeiser commented on #309
We appear to have been u8 [for quite a while](https://github.com/lemire/simdjson/blob/1176725af79db8222f48ee1678a9db7c0e58e772/include/simdjson/stage1_find_marks.h#L86), so I'm sure it's just me missing something--I just can't figure what, and I don't have an ARM machine sitting around to find out. Feel free to close with extreme prejudice if I'm off base here, I figured I'd bring it up and maybe

[2019-09-06 18:35] jkeiser commented on #309
Ah, finally found https://branchfree.org/2019/04/01/fitting-my-head-through-the-arm-holes-or-two-sequences-to-substitute-for-the-missing-pmovmskb-instruction-on-arm-neon/ . Closing.

[2019-09-06 18:35] #309 closed

[2019-09-06 20:03] lemire commented on #309
:-)

Note to self: This is another great example of code that is incomprehensible even to veteran programmers.

[2019-09-07 03:07] maihuuthien commented on #308
Great. I'm looking forward to it. Because I need to parse a lot of arrays into std::vector, and it would really help if I could reserve the capacity beforehand.

[2019-09-13 17:44] jkeiser opened #312 "Optimize for server requests/responses"
Thoughts for discussion, and a few suggestions:

A large % of json parsed in this world is parsed as server requests and responses. There are a few relevant characteristics here:

- Throughput of a single document still matters, but *bulk* throughput is the bottleneck for such a server--specifically, how many documents you can parse at a time.
- POST requests (the main place you do JSON, though so

[2019-09-13 17:56] lemire commented on #312
Handling tiny documents very fast is certainly possible and fun. However, it is almost an entirely different problem. That is not to say that we shouldn't or couldn't do it... but it almost certainly best handled with a different/new code base.

Would you open this as a new issue?

UTF-8 validation is a small part of our parsing as things stand now.  Have you tried running benchmarks?

This is ver

[2019-09-27 11:42] Archie3d opened #318 "Incomplete error_strings map"
`UNCLOSED_STRING` error code is missing in `error_strings` map that causes out of range exception when getting error message.

Better solution maybe is to make `error_message(const int error_code)` check the code is actually in the map, and return some `"Unknown error"` style string.

[2019-09-27 21:23] lemire commented on #318
This will be fixed in the next release.

[2019-09-27 21:38] lemire commented on #318
Fixed by https://github.com/lemire/simdjson/pull/319

[2019-09-29 16:12] #318 closed

[2019-10-02 16:08] jplauri opened #320 "Improved const correctness for ParsedJson interface"
It seems that one should be able to call also the three following functions for an immutable `ParsedJson` object:

- `really_inline uint32_t get_current_loc() { return current_loc; }`

- `bool print_json(std::ostream &os);`

- `bool dump_raw_tape(std::ostream &os);`

In other words, all these functions should be marked const.

[2019-10-02 17:39] lemire opened #322 "Under ARM, experiment with faster bitmap decoding"
ARM processors are handicapped when it comes to bitset decoding because they lack a fast "count trailing zero" instruction. To emulate it, we have to reverse the bits and call the "count leading zero instruction".

Based on an idea and description by Samuel Lee, I implemented the following (barely tested) approach... It reverses the bits only once.

[code]

It saves a bunch of instructions. Whethe

[2019-10-02 18:25] #320 closed

[2019-10-02 18:37] jplauri commented on #307
From what I could see, the only C++17 feature used is currently is `std::string_view`.

[2019-10-02 18:51] lemire commented on #307
@jplauri I suspect this is correct and we could easily guard the string_view uses with C++ version checks or provide some other solution.

[2019-10-04 08:23] jplauri commented on #307
Actually, that's not quite true. These are also used C++17 features:

- terse static asserts (i.e., `static_assert(condition)`);

- nested namespace definitions (e.g., `namespace simdjson::westmere`); and

- constexpr if.

But I think that's it then :-)

[2019-10-05 12:28] jplauri opened #323 "Interest in adding an case insensitive `move_to_key`?"
To offer a bit of robustness, it is sometimes useful to be able to find a key in an case insensitive manner (for instance, such functionality is given by libjson, now a rather outdated library). That is, if my JSON has a key like "Foo", I'd still like to be able to match it if I search for "foo". Currently, of course, `move_to_key` does not support this as it relies on `strcmp`. The functionality

[2019-10-05 12:50] lemire commented on #323
This is all fine but we want to benchmark to see what the performance implications are. A runtime comparator might carry additional overhead. As it is, we want to work on further optimizing these functions, so a performance regression would be unfortunate.

I expect that the default ought to be case-sensitive matching since this is surely what the standard demands.

[2019-10-05 12:58] jplauri commented on #323
Right, so I just meant that the user could call either `move_to_key(...)` or `move_to_insensitive_key(...)`, whichever was desired.

In an ideal world, there should be no overhead. But if we were paranoid, we could just copy and paste the implementation of `move_to_key` for `move_to_insensitive_key`, but just replace `strcmp` as described. That's code duplication, but not much. Further, no benchma

[2019-10-05 20:48] lemire commented on #323
I think it is all fine.

[2019-10-06 18:25] Licenser opened #325 "Possible issue with decoding subnormals"
On simd-json.rs we discovered that `-5.96916642387374e-309` which is a valid representable floating point number couldn't get parsed. I suspect the same issue exists in simdjson.

I'll add a (possibly failing) test case and if required a fix to it later when I get around to it but  wanted to throw in an issue to keep track of it.

The change was to extend the exponent rage to `1e-323`.

[2019-10-06 18:30] jkeiser commented on #312
I guess I'm interested in having a valid choice of the fastest JSON parser overall, because I see in simdjson an actual chance to fight global warming :) Bulk processing a la the ndjson thing *might* help a ton with server throughput, even if it reduces average latency by a little bit. Either way, we should at least have benchmarks and find out exactly what.

Will do!

@lemire Unless I'm way off i

[2019-10-06 20:09] lemire commented on #325
What DBL_MIN for you?

I think it should be...

2.2250738585072014e-308

My suspicion is that you are going into the subnormals.

[2019-10-06 20:13] lemire commented on #325
In Rust what is f64::MIN_POSITIVE?

[2019-10-06 20:16] Licenser commented on #325
The problem comes from how it is parsed `-5.96916642387374e-309` is parsed as `596916642387374e-323` (if I didn't miscount) and [1e-323 is still represented correctly](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b71b7a1afb523033a600cfa37d7eb0a8)

[2019-10-06 20:19] Licenser commented on #325
re-reading the current state of the c++ code I am wrong, the location the check happens moved since I translated it to rust :) so simdjson doens't have the same problem!

[2019-10-06 22:01] lemire commented on #312
I’m game to pursue this.

There are things we know regarding the processing of small batches... the overhead (e.g. the memory allocation, function calls) that is negligible when the data has a non-trivial size end up dominating the running time.

Also the metrics need to change... instead of GB/s, you want to move toward measures like documents per second...

I’ll check your UTF-8 benchmark.

[2019-10-06 22:03] lemire commented on #325
Did you try to write a test? If not, I will...

[2019-10-06 22:04] lemire commented on #325
I changed the title from very small to subnormal. I think subormal is more than just very small.

[2019-10-07 05:08] Licenser commented on #325
I've not been on a workable computer yet, I'll add one when I get home tonight, kind of don't want to do it over the web interface :D

[2019-10-07 14:09] lemire commented on #325
No worries, I will check it in. It just just one new file to create.

[2019-10-07 14:16] lemire commented on #325
Let us test it out: https://github.com/lemire/simdjson/pull/328

[2019-10-07 15:02] lemire commented on #325
I merged the check and it looks fine. Please reopen if you think that the issue is still there.

[2019-10-07 15:02] #325 closed

[2019-10-07 16:02] aqrit commented on #323
Duplicate of #294

"Case Folding"

[2019-10-07 20:12] lemire commented on #323
I am going to close this issue. The PR seems to lead to some performance regression, but I'll have to look at fixing it as a separate issue.

[2019-10-07 20:12] #323 closed

[2019-10-07 21:31] lemire commented on #312
Back to UTF-8...

You are correct that in the example you refer to (baseline-utf-8.json), utf-8 validation uses half of the running time. I invite you to contribute at least some of these synthetic cases to master so we can include them in our ongoing performance tests.

I don't think I ever saw such a relatively high UTF-8 cost in a JSON file.

Stage 1, in your example, on one test machine goes f

[2019-10-08 00:01] jkeiser commented on #312
Yep, those are part of a set of files including misprediction cost measurement, as well as feature based performance reporting to help figure it what tradeoffs you are making. It needs a few updates before I'm ready to make it a pr, though.

[2019-10-08 15:15] jkeiser commented on #312
@lemire note that this is *in-context* perf impact of UTF-8, which can differ in either direction from the actual impact. If UTF-8 validation causes a long pole to get longer and stop soaking up CPU with parallel instructions, the impact of UTF-8 validation could be higher than its actual cost. If it causes a higher instructions-per-cycle with parallel instructions, then the actual cost will be lo

[2019-10-08 19:09] jkeiser commented on #312
Yeah. Also, keys tend to have VERY high duplication rate across a single file, and are often looked up by name, meaning hashing and dedup might actually buy something.

Even more, because they are typically unescaped, you could dedup before you unescape or write to the string tape, and because they are ASCII, you wouldn't have to worry about Unicode equality canonicalization--just a straight hash

[2019-10-08 19:23] lemire commented on #312
I think that a good first step would be to write a benchmark. Simulate a stream of server responses.

[2019-10-10 00:55] michaeleisel opened #329 "Portable mode with no intrinsics"
It would be nice to have a version of the code without any intrinsics, so that it can be run more portably.

Use case: Swift package manager doesn't support changing which vector extension to use, and by default on MacOS it doesn't use any (https://forums.swift.org/t/modify-vector-extensions/27999). I want to support SPM for ZippyJSON for iOS, which unlike MacOS is fine (I guess by default it allo

[2019-10-10 16:58] jkeiser commented on #329
To pile on a bit, this is also needed to make simdjson a comfortable choice of library for inclusion in many projects. As a project owner, I'm generally uncomfortable restricting the set of machines other people can run my stuff on.

A large amount of the code is already simd-neutral; you "just" need to copy `src/arch/haswell` to `src/arch/64bit` and replace all the functions there. It's work, but

[2019-10-10 17:27] lemire commented on #329
Indeed, it may not be a crazy amount of work and it would provide a nice baseline for benchmarking.

[2019-10-11 21:59] kostya commented on #83
i added test here https://github.com/kostya/benchmarks#json, d still 30% faster

[2019-10-16 20:52] lemire commented on #242
Work is being done in the following PR: https://github.com/lemire/simdjson/pull/333

[2019-10-17 01:25] lemire commented on #188
See https://github.com/lemire/simdjson/issues/147

[2019-10-17 01:26] lemire commented on #147
See https://github.com/lemire/simdjson/issues/188

[2019-10-17 01:55] piotte13 commented on #147
You can assign to me this issue as well as #188.
Let's make it happen!

[2019-10-17 10:36] jplauri opened #334 "Can I build the internal tape from a string_view and avoid memory allocations?"
I have large `std::string` that contains multiple moderately-sized JSON files separated by newline characters. Ideally, when parsing relevant pieces of information from these JSONs, I'd like to avoid extra memory allocations. In principle, one solution would be to take `string_view`s over the large string and parse the files by merely moving a pointer.

Is it possible to use simdjson for this, i.e

[2019-10-17 13:00] lemire commented on #334
At a glance, your issue seems closely related to issue https://github.com/lemire/simdjson/issues/188

I am not sure I understand your concern. The simdjson does not modify the input, so if you pass it a string of characters, it is going to be "only read from", by design.

[2019-10-17 13:53] lemire commented on #188
cc @piotte13

[2019-10-17 14:44] jplauri2 commented on #334
Oh, I see. This is also exactly what I was looking for. Thanks for the pointer!

[2019-10-17 14:45] jplauri commented on #334
Oh, I see. This is also exactly what I was looking for. Thanks!

[2019-10-17 14:45] #334 closed

[2019-10-17 15:19] jplauri commented on #188
FWIW, let me also say that I'd be very interested in the ndjson use case.

[2019-10-17 17:36] craiig commented on #188
Nice to see some traffic on this, is work starting on this? I would be happy to give feedback on APIs, do some testing, etc. Let me know.

[2019-10-17 18:18] lemire commented on #188
@piotte13 should start working on this next week?

[2019-10-18 20:09] lemire commented on #242
See https://github.com/minio/minio/pull/8401

[2019-10-18 20:16] lemire commented on #177
cc @piotte13

[2019-10-18 21:21] lemire commented on #94
Memory allocation can be a bottleneck, as exemplified by PR https://github.com/lemire/simdjson/pull/335

[code]

The only difference between (just parse) and  (just parse, no alloc) is the memory allocation for the parsed json. It is costing us dearly.

[2019-10-18 21:24] lemire commented on #177
Memory can be a bottleneck, as exemplified by PR https://github.com/lemire/simdjson/pull/335

[code]

The only difference between (just parse) and  (just parse, no alloc) is the memory allocation for the parsed json. It is costing us dearly.

See also https://github.com/lemire/simdjson/issues/94

[2019-10-19 01:11] milipili opened #337 "-Woverflow warnings"
Hi!
Thanks for simdjson, I absolutely love it!

Just here to report a bunch of warnings reported by my gcc `gcc (Debian 9.2.1-8)`, if fnot already aware of them

[code]

[2019-10-20 09:35] milipili opened #339 "valgrind uninitialised value"
A little report from valgrind :)

[code]

[2019-10-20 17:04] lemire commented on #339
Damien: can you provide a reproducible test case? It is hard to address potential issues if we can't reproduce them.

[2019-10-20 17:17] lemire commented on #337
Do you believe that one of these warnings is indicative of a bug?

At a glance, all of these warnings appear to be false positives...

[2019-10-23 20:46] pauldreik opened #340 "Valgrind error running json2json"
On my Debian Buster system with an Intel i7-8565U CPU,
I did this:
[code]
and I got this:
[code]

[2019-10-23 20:55] pauldreik opened #341 "Valgrind error running json2json on an empty directory"
On my Debian Buster system with an Intel i7-8565U CPU,
I did this:
[code]
and I got this:
[code]

[2019-10-23 20:57] lemire commented on #340
Let us fix this. Thanks for the report.

[2019-10-23 20:58] lemire commented on #341
Thanks. Let us fix this.

[2019-10-23 23:29] pauldreik opened #342 "Valgrind error running json2json on pass18"
Like #340, but with another test case. This time. also an uninit jump. Possibly related to #339.
[code]

[2019-10-23 23:35] pauldreik opened #343 "Valgrind error running json2json on pass14"
Like #342, but with another input file pass14
[code]

[2019-10-23 23:50] pauldreik commented on #340
If someone takes a look at this, please also run the same thing but with fail57 instead of fail56. It also gives errors. Here is how I made this:
[code]
which gave that 28 of the test cases failed. I reported some of them, but many of them are probably duplicates so let's wait until one of them is fixed until we check again.

[2019-10-23 23:50] lemire commented on #340
I am going to fuse these issues because they are all with the same tool.

[2019-10-23 23:51] lemire commented on #340
Valgrind error running json2json on an empty directory https://github.com/lemire/simdjson/issues/341

[code]
and I got this:
[code]